In [2]:
import pandas as pd

In [108]:
df2 = pd.read_csv('onlydata.csv', header=None)
senate_districts = df2[0].tolist()
senate_districts = senate_districts[:-1]
for i in range(len(senate_districts)):
    temp_str = senate_districts[i]
    senate_districts[i] = temp_str[4:]
census_senate = pd.read_csv('Census_Senate.csv')


census_senate['Geography'] = census_senate['Geography'].apply(lambda x: x.split("(")[0])
census_senate['Geography'] = census_senate['Geography'].apply(lambda x: x.split("District")[0])
    
index_list = []
for index, row in census_senate.iterrows():
    temp_str = row['Geography']
    if temp_str[:-1] not in senate_districts:
        index_list += [index]
census_senate = census_senate.drop(index_list, axis=0)
census_senate.to_csv('final_census_senate.csv')
print("final_census_senate is written")

final_census_senate is written

In [104]:
import math
ordinal = lambda n: "%d%s" % (n,"tsnrhtdd"[(math.floor(n/10)%10!=1)*(n%10<4)*n%10::4])
dumb_list = [ordinal(n) for n in range(0,23)]

ind=None
df3 = pd.read_csv('onlydatahouse.csv', header=None)
for index, row in df3.iterrows():
    if row[0] == '005 Fifth Barnstable':
        ind = index
df3 = df3.drop([ind], axis=0)
house_districts = df3[0].tolist()
house_districts = house_districts [:-1]
for i in range(len(house_districts)):
    temp_str = house_districts[i]
    house_districts[i] = temp_str[4:]
census_house = pd.read_csv('Census_House.csv')
census_house['Geography'] = census_house['Geography'].apply(lambda x: x.split("(")[0])



for i in range(len(house_districts)):
    splitter = house_districts[i].split(" ")
    if splitter[0] == 'Barnstable':
        continue
    if splitter[0] == 'First':
        splitter[0] = dumb_list[1]
    elif splitter[0] == 'Second':
        splitter[0] = dumb_list[2]
    elif splitter[0] == 'Third':
        splitter[0] = dumb_list[3]
    elif splitter[0] == 'Fourth':
        splitter[0] = dumb_list[4]
    elif splitter[0] == 'Fifth':
        splitter[0] = dumb_list[5]
    elif splitter[0] == 'Sixth':
        splitter[0] = dumb_list[6]
    elif splitter[0] == 'Seventh':
        splitter[0] = dumb_list[7]
    elif splitter[0] == 'Eighth':
        splitter[0] = dumb_list[8]
    elif splitter[0] == 'Ninth':
        splitter[0] = dumb_list[9]
    elif splitter[0] == 'Tenth':
        splitter[0] = dumb_list[10]
    elif splitter[0] == 'Eleventh':
        splitter[0] = dumb_list[11]
    elif splitter[0] == 'Twelfth':
        splitter[0] = dumb_list[12]
    elif splitter[0] == 'Thirteenth':
        splitter[0] = dumb_list[13]
    elif splitter[0] == 'Fourteenth':
        splitter[0] = dumb_list[14]
    elif splitter[0] == 'Fifteenth':
        splitter[0] = dumb_list[15]
    elif splitter[0] == 'Sixteenth':
        splitter[0] = dumb_list[16]
    elif splitter[0] == 'Seventeenth':
        splitter[0] = dumb_list[17]
    elif splitter[0] == 'Eighteenth':
        splitter[0] = dumb_list[18]
    elif splitter[0] == 'Nineteenth':
        splitter[0] = dumb_list[19]
    elif splitter[0] == 'Twentieth':
        splitter[0] = dumb_list[20]
    elif splitter[0] == 'Twenty-First':
        splitter[0] = dumb_list[21]
    elif splitter[0] == 'Twenty-Second':
        splitter[0] = dumb_list[22]
        
    district = ''
    for j in range(len(splitter)):
        if j != len(splitter)-1:
            district += splitter[j]+" "
        else:
            district += splitter[j]
    house_districts[i] = district

index_list = []
for index, row in census_house.iterrows():
    temp_str = row['Geography']
    if temp_str[:-1] not in house_districts:
        index_list += [index]
census_house = census_house.drop(index_list, axis=0)
census_house.to_csv('final_census_house.csv')
print("final_census_house is written")

final_census_house is written

In [107]:

df4 = pd.read_csv('onlydata.csv', header=None)
senate_districts = df4[0].tolist()
senate_districts = senate_districts[:-1]
for i in range(len(senate_districts)):
    temp_str = senate_districts[i]
    senate_districts[i] = temp_str[4:]
census_senate_income = pd.read_csv('Census_Senate_Income.csv')


census_senate_income['Geography'] = census_senate_income['Geography'].apply(lambda x: x.split("(")[0])
census_senate_income['Geography'] = census_senate_income['Geography'].apply(lambda x: x.split("District")[0])
    
index_list = []
for index, row in census_senate_income.iterrows():
    temp_str = row['Geography']
    if temp_str[:-1] not in senate_districts:
        index_list += [index]
census_senate_income = census_senate_income.drop(index_list, axis=0)
census_senate_income.to_csv('final_census_senate_income.csv')
print("final_census_senate_income is written")

final_census_senate is written

In [110]:
ordinal = lambda n: "%d%s" % (n,"tsnrhtdd"[(math.floor(n/10)%10!=1)*(n%10<4)*n%10::4])
dumb_list = [ordinal(n) for n in range(0,23)]

ind=None
df4 = pd.read_csv('onlydatahouse.csv', header=None)
for index, row in df4.iterrows():
    if row[0] == '005 Fifth Barnstable':
        ind = index
df4 = df4.drop([ind], axis=0)
house_districts = df4[0].tolist()
house_districts = house_districts [:-1]
for i in range(len(house_districts)):
    temp_str = house_districts[i]
    house_districts[i] = temp_str[4:]
census_house_income = pd.read_csv('Census_House_Income.csv')
census_house_income['Geography'] = census_house_income['Geography'].apply(lambda x: x.split("(")[0])



for i in range(len(house_districts)):
    splitter = house_districts[i].split(" ")
    if splitter[0] == 'Barnstable':
        continue
    if splitter[0] == 'First':
        splitter[0] = dumb_list[1]
    elif splitter[0] == 'Second':
        splitter[0] = dumb_list[2]
    elif splitter[0] == 'Third':
        splitter[0] = dumb_list[3]
    elif splitter[0] == 'Fourth':
        splitter[0] = dumb_list[4]
    elif splitter[0] == 'Fifth':
        splitter[0] = dumb_list[5]
    elif splitter[0] == 'Sixth':
        splitter[0] = dumb_list[6]
    elif splitter[0] == 'Seventh':
        splitter[0] = dumb_list[7]
    elif splitter[0] == 'Eighth':
        splitter[0] = dumb_list[8]
    elif splitter[0] == 'Ninth':
        splitter[0] = dumb_list[9]
    elif splitter[0] == 'Tenth':
        splitter[0] = dumb_list[10]
    elif splitter[0] == 'Eleventh':
        splitter[0] = dumb_list[11]
    elif splitter[0] == 'Twelfth':
        splitter[0] = dumb_list[12]
    elif splitter[0] == 'Thirteenth':
        splitter[0] = dumb_list[13]
    elif splitter[0] == 'Fourteenth':
        splitter[0] = dumb_list[14]
    elif splitter[0] == 'Fifteenth':
        splitter[0] = dumb_list[15]
    elif splitter[0] == 'Sixteenth':
        splitter[0] = dumb_list[16]
    elif splitter[0] == 'Seventeenth':
        splitter[0] = dumb_list[17]
    elif splitter[0] == 'Eighteenth':
        splitter[0] = dumb_list[18]
    elif splitter[0] == 'Nineteenth':
        splitter[0] = dumb_list[19]
    elif splitter[0] == 'Twentieth':
        splitter[0] = dumb_list[20]
    elif splitter[0] == 'Twenty-First':
        splitter[0] = dumb_list[21]
    elif splitter[0] == 'Twenty-Second':
        splitter[0] = dumb_list[22]
        
    district = ''
    for j in range(len(splitter)):
        if j != len(splitter)-1:
            district += splitter[j]+" "
        else:
            district += splitter[j]
    house_districts[i] = district

index_list = []
for index, row in census_house_income.iterrows():
    temp_str = row['Geography']
    if temp_str[:-1] not in house_districts:
        index_list += [index]
census_house_income = census_house_income.drop(index_list, axis=0)
census_house_income.to_csv('final_census_house_income.csv')
print("final_census_house_income is written")

final_census_house_income is written

In [149]:
senate_reg = pd.read_csv("final_census_senate.csv", index_col=0)
senate_income = pd.read_csv("final_census_senate_income.csv", index_col=0)

In [150]:
senate_income = senate_income.drop(['Id2', 'Geography'], axis=1)

In [151]:
demo_and_income = senate_reg.merge(senate_income, how='left', on='Id', left_index=True, right_index=True)
demo_and_income = demo_and_income.drop(['Id2'], axis=1)

In [152]:
demo_and_income.to_csv("FINAL_SENATE_all_census_data.csv")

In [153]:
house_reg = pd.read_csv("final_census_house.csv", index_col=0)
house_income = pd.read_csv("final_census_house_income.csv", index_col=0)
house_reg = house_reg.drop(['Id2'], axis=1)
house_income = house_income.drop(['Id2', 'Geography'], axis=1)

In [155]:
house_demo_and_income = house_reg.merge(house_income, how='left', on='Id', left_index=True, right_index=True)

In [148]:
house_demo_and_income.to_csv("FINAL_HOUSE_all_census_data.csv")

In [7]:
vb_senate = pd.read_csv('VoteBuilder_Senate_processed.csv')
cen_senate = pd.read_csv('FINAL_SENATE_all_census_data.csv', index_col = 0)
cen_senate = cen_senate.drop(['Id'], axis=1)
cen_senate=cen_senate.rename(columns = {'Geography':'District'})
vb_senate

,District,Dem_0_of_4,Dem_0_of_4_%,Dem_1_of_4,Dem_1_of_4_%,Dem_2_of_4,Dem_2_of_4_%,Dem_3_of_4,Dem_3_of_4_%,Dem_4_of_4,...,UnEn_Female_%,UnEn_unknown_gender,UnEn_unknown_gender_%,Unkn_Male,Unkn_Male_%,Unkn_Female,Unkn_Female_%,Unkn_unknown_gender,Unkn_unknown_gender_%,Total_Voters
0,Bristol & Norfolk,"2,009",2.98,"2,723",4.03,"2,217",3.28,"2,405",3.56,"4,770",...,32.98,45,0.07,453,0.67,453,0.67,1,0.00,"67,494"
1,First Bristol & Plymouth,406,3.13,486,3.75,406,3.13,483,3.72,862,...,32.35,1,0.01,91,0.70,102,0.79,0,0.00,"12,972"
2,Cape & Islands,"2,493",3.09,"3,349",4.15,"2,704",3.35,"3,168",3.93,"7,879",...,31.37,93,0.12,446,0.55,509,0.63,1,0.00,"80,680"
3,First Essex,"1,178",2.78,"1,940",4.57,"1,603",3.78,"1,840",4.34,"4,263",...,31.35,82,0.19,277,0.65,380,0.90,2,0.00,"42,442"
4,Second Essex,77,1.59,133,2.74,109,2.25,171,3.52,402,...,31.91,9,0.19,15,0.31,26,0.54,0,0.00,"4,855"
5,Third Essex,888,3.06,"1,229",4.24,"1,049",3.61,"1,317",4.54,"3,203",...,30.97,57,0.20,170,0.59,202,0.70,1,0.00,"29,018"
6,First Essex & Middlesex,"2,943",2.29,"4,722",3.68,"4,086",3.18,"5,143",4.00,"11,819",...,32.11,263,0.20,662,0.52,652,0.51,10,0.01,"128,477"
7,Second Essex & Middlesex,575,2.65,892,4.11,753,3.47,905,4.17,"2,032",...,30.78,40,0.18,82,0.38,68,0.31,0,0.00,"21,680"
8,Second Hampden & Hampshire,"5,703",5.36,"5,704",5.36,"4,814",4.52,"5,451",5.12,"10,576",...,28.47,50,0.05,826,0.78,905,0.85,3,0.00,"106,491"
9,First Middlesex,326,1.74,610,3.26,560,3.00,682,3.65,"1,528",...,31.81,16,0.09,103,0.55,116,0.62,0,0.00,"18,687"
10,Fourth Middlesex,891,3.15,"1,315",4.64,"1,075",3.79,"1,229",4.34,"2,643",...,31.37,2,0.01,202,0.71,170,0.60,1,0.00,"28,328"
11,Fifth Middlesex,408,2.06,806,4.08,733,3.71,970,4.90,"2,470",...,30.40,5,0.03,117,0.59,119,0.60,0,0.00,"19,779"
12,Middlesex & Worcester,260,3.02,418,4.86,332,3.86,338,3.93,810,...,29.29,34,0.40,55,0.64,51,0.59,0,0.00,"8,604"
13,"Norfolk, Bristol & Middlesex","2,918",2.59,"4,770",4.24,"3,833",3.40,"4,778",4.24,"11,174",...,31.11,115,0.10,631,0.56,595,0.53,3,0.00,"112,575"
14,"Norfolk, Bristol & Plymouth",135,2.52,203,3.78,198,3.69,240,4.47,412,...,31.38,18,0.34,30,0.56,38,0.71,0,0.00,"5,364"
15,Norfolk & Plymouth,767,3.23,"1,032",4.35,875,3.69,"1,070",4.51,"2,106",...,33.10,14,0.06,147,0.62,169,0.71,0,0.00,"23,740"
16,Plymouth & Barnstable,"2,999",2.55,"4,203",3.57,"3,644",3.10,"4,718",4.01,"11,300",...,32.25,64,0.05,749,0.64,880,0.75,3,0.00,"117,595"
17,First Plymouth & Bristol,"4,326",4.27,"4,666",4.60,"3,868",3.82,"4,225",4.17,"7,486",...,32.67,216,0.21,764,0.75,882,0.87,11,0.01,"101,331"
18,Second Plymouth & Bristol,685,2.62,892,3.41,814,3.11,990,3.79,"2,216",...,33.59,5,0.02,160,0.61,200,0.76,0,0.00,"26,152"
19,Plymouth & Norfolk,"3,155",2.58,"4,734",3.87,"4,100",3.35,"5,244",4.28,"13,577",...,31.06,92,0.08,715,0.58,800,0.65,7,0.01,"122,479"
20,First Worcester,"1,329",6.04,"1,368",6.22,862,3.92,820,3.73,"1,810",...,29.19,170,0.77,145,0.66,161,0.73,6,0.03,"21,995"
21,Second Worcester,"3,112",3.57,"3,999",4.58,"3,320",3.80,"3,745",4.29,"8,341",...,30.77,282,0.32,624,0.72,630,0.72,10,0.01,"87,267"
22,"Worcester, Hampden, Hampshire & Middlesex","2,241",2.78,"2,655",3.30,"2,503",3.11,"2,928",3.64,"5,890",...,32.79,100,0.12,606,0.75,610,0.76,10,0.01,"80,488"
23,Worcester & Middlesex,220,1.81,359,2.95,291,2.40,333,2.74,792,...,33.62,4,0.03,82,0.67,91,0.75,0,0.00,"12,149"
24,Worcester & Norfolk,"4,016",3.59,"4,656",4.16,"3,964",3.54,"4,505",4.02,"8,777",...,31.99,214,0.19,908,0.81,950,0.85,4,0.00,"111,947"

In [14]:
vb_district = vb_senate.District.tolist()
vb_district
cen_senate = cen_senate.District.tolist()

['Bristol & Norfolk',
 'First Bristol & Plymouth',
 'Cape & Islands',
 'First Essex',
 'Second Essex',
 'Third Essex',
 'First Essex & Middlesex',
 'Second Essex & Middlesex',
 'Second Hampden & Hampshire',
 'First Middlesex',
 'Fourth Middlesex',
 'Fifth Middlesex',
 'Middlesex & Worcester',
 'Norfolk, Bristol & Middlesex',
 'Norfolk, Bristol & Plymouth',
 'Norfolk & Plymouth',
 'Plymouth & Barnstable',
 'First Plymouth & Bristol',
 'Second Plymouth & Bristol',
 'Plymouth & Norfolk',
 'First Worcester',
 'Second Worcester',
 'Worcester, Hampden, Hampshire & Middlesex',
 'Worcester & Middlesex',
 'Worcester & Norfolk']

In [12]:
# vb_census_senate = vb_senate.merge(cen_senate, how='left', on='District', left_index=True, right_index=True)
vb_census_senate = pd.concat([vb_senate.set_index('District'), cen_senate.set_index('District')], axis=1, join='inner')
# senate_ocpf = pd.concat([ocpf_df.set_index('City'), senate_df.set_index('city_town')], axis=1, join='inner')
vb_census_senate

Empty DataFrame
Columns: [Dem_0_of_4, Dem_0_of_4_%, Dem_1_of_4, Dem_1_of_4_%, Dem_2_of_4, Dem_2_of_4_%, Dem_3_of_4, Dem_3_of_4_%, Dem_4_of_4, Dem_4_of_4_%, Dem_unknown_of_4, Dem_unknown_of_4_%, Rep_0_of_4, Rep_0_of_4_%, Rep_1_of_4, Rep_1_of_4_%, Rep_2_of_4, Rep_2_of_4_%, Rep_3_of_4, Rep_3_of_4_%, Rep_4_of_4, Rep_4_of_4_%, Rep_unknown_of_4, Rep_unknown_of_4_%, UnEn_0_of_4, UnEn_0_of_4_%, UnEn_1_of_4, UnEn_1_of_4_%, UnEn_2_of_4, UnEn_2_of_4_%, UnEn_3_of_4, UnEn_3_of_4_%, UnEn_4_of_4, UnEn_4_of_4_%, UnEn_unknown_of_4, UnEn_unknown_of_4_%, Unkn_0_of_4, Unkn_0_of_4_%, Unkn_1_of_4, Unkn_1_of_4_%, Unkn_2_of_4, Unkn_2_of_4_%, Unkn_3_of_4, Unkn_3_of_4_%, Unkn_4_of_4, Unkn_4_of_4_%, Unkn_Unknown_of_4, Unkn_Unknown_of_4_%, Dem_African-American_high, Dem_African-American_high_%, Dem_African-American_med, Dem_African-American_med_%, Dem_African-American_low, Dem_African-American_low_%, Dem_Asian_high, Dem_Asian_high_%, Dem_Asian_med, Dem_Asian_med_%, Dem_Asian_low, Dem_Asian_low_%, Dem_Caucasian_high, Dem_Caucasian_high_%, Dem_Caucasian_med, Dem_Caucasian_med_%, Dem_Caucasian_low, Dem_Caucasian_low_%, Dem_Hispanic_high, Dem_Hispanic_high_%, Dem_Hispanic_med, Dem_Hispanic_med_%, Dem_Hispanic_low, Dem_Hispanic_low_%, Dem_uncoded_race, Dem_uncoded_race_%, Dem_unknown_race, Dem_unknown_race_%, Rep_African-American_high, Rep_African-American_high_%, Rep_African-American_med, Rep_African-American_med_%, Rep_African-American_low, Rep_African-American_low_%, Rep_Asian_high, Rep_Asian_high_%, Rep_Asian_med, Rep_Asian_med_%, Rep_Asian_low, Rep_Asian_low_%, Rep_Caucasian_high, Rep_Caucasian_high_%, Rep_Caucasian_med, Rep_Caucasian_med_%, Rep_Caucasian_low, Rep_Caucasian_low_%, Rep_Hispanic_high, Rep_Hispanic_high_%, Rep_Hispanic_med, Rep_Hispanic_med_%, Rep_Hispanic_low, Rep_Hispanic_low_%, ...]
Index: []

[0 rows x 381 columns]

In [111]:

# top_header = []
# layer_two_header = []
# columns = []
# with open('VoteBuilder_Senate_csv.csv', 'r') as f:
#     data = f.readlines()
#     count = 0
#     for line in data:
        
#         splitter = line.split(',')
#         for i in range(len(splitter)):
#             print(splitter[i])
# #             if count == 0:
# #                 top_header += [splitter[2]]
# #                 break
# #             if count == 1 and splitter[i] != '':
# #                 if i != len(splitter)-1:
# #                     layer_two_header += [splitter[i]]
# #             if count == 2:
# #                 if i != 0:
# #                     if i != 1:
# #                         if i != len(splitter) - 1:
# #                             columns += [splitter[i]]
#         count+=1
#         if count > 2:
#             break


# temp_cols = []
# for h in range(len(layer_two_header)):
#     label = layer_two_header[h]
#     for k in range(3):
#         temp_cols += [label]
# final_cols = [top_header[0]+' '+temp_cols[i]+' '+columns[i] for i in range(len(temp_cols))]

# print(len(final_cols))

In [112]:
# df = pd.read_csv('onlydata.csv', header=None)

# real_cols = ['House District']
# real_cols+= final_cols
# real_cols+= ['Total']
# df.columns = real_cols
# df