In [3]:
import pandas as pd

In [4]:
def census_demo_clean(file):
    df2 = pd.read_csv('MODEL_TWO_Census_2010-2015/onlydata.csv', header=None)
    senate_districts = df2[0].tolist()
    senate_districts = senate_districts[:-1]
    for i in range(len(senate_districts)):
        temp_str = senate_districts[i]
        senate_districts[i] = temp_str[4:]
    census_senate = pd.read_csv(file, skiprows=1)

    census_senate['Geography'] = census_senate['Geography'].apply(lambda x: x.split("(")[0])
    census_senate['Geography'] = census_senate['Geography'].apply(lambda x: x.split("District")[0])

    index_list = []
    for index, row in census_senate.iterrows():
        temp_str = row['Geography']
        if temp_str[:-1] not in senate_districts:
            index_list += [index]
    census_senate = census_senate.drop(index_list, axis=0)
    return census_senate

In [6]:
census_senate = census_demo_clean("MODEL_TWO_Census_2010-2015/Senate/2015/Census_2015_demo.csv")
census_senate.to_csv('MODEL_TWO_Census_2010-2015/Senate/2015/final_census_senate_2015.csv')
print("final_census_senate_2014 is written")

# census_senate = census_demo_clean("Census_2010-2014/Senate/2014/Census_2014_demo.csv")
# census_senate.to_csv('Census_2010-2014/Senate/2014/final_census_senate_2014.csv')
# print("final_census_senate_2014 is written")

# census_senate = census_demo_clean("Census_2010-2014/Senate/2013/Census_2013_demo.csv")
# census_senate.to_csv('Census_2010-2014/Senate/2013/final_census_senate_2013.csv')
# print("final_census_senate_2014 is written")

# census_senate = census_demo_clean("Census_2010-2014/Senate/2012/Census_2012_demo.csv")
# census_senate.to_csv('Census_2010-2014/Senate/2012/final_census_senate_2012.csv')
# print("final_census_senate_2014 is written")

# census_senate = census_demo_clean("Census_2010-2014/Senate/2011/Census_2011_demo.csv")
# census_senate.to_csv('Census_2010-2014/Senate/2011/final_census_senate_2011.csv')
# print("final_census_senate_2014 is written")

# census_senate = census_demo_clean("Census_2010-2014/Senate/2010/Census_2010_demo.csv")
# census_senate.to_csv('Census_2010-2014/Senate/2010/final_census_senate_2010.csv')
# print("final_census_senate_2014 is written")

final_census_senate_2014 is written

In [47]:
import math
def census_house_demo(file, year):
    ordinal = lambda n: "%d%s" % (n,"tsnrhtdd"[(math.floor(n/10)%10!=1)*(n%10<4)*n%10::4])
    dumb_list = [ordinal(n) for n in range(0,23)]

    ind=None
    df3 = pd.read_csv('MODEL_TWO_Census_2010-2015/onlydatahouse.csv', header=None)
    for index, row in df3.iterrows():
        if row[0] == '005 Fifth Barnstable':
            ind = index
    df3 = df3.drop([ind], axis=0)
    df3[0] = df3[0].apply(lambda x: x.split(" District")[0])
    house_districts = df3[0].tolist()
    house_districts = house_districts [:-1]
    for i in range(len(house_districts)):
        temp_str = house_districts[i]
        house_districts[i] = temp_str[4:]
    census_house = pd.read_csv(file, skiprows=1)
    census_house['Geography'] = census_house['Geography'].apply(lambda x: x.split(" District")[0])
    

    if year == "2015" or year == "2014" or year == "2013" or year == "2012":
        for i in range(len(house_districts)):
            splitter = house_districts[i].split(" ")
            if splitter[0] == 'Barnstable':
                continue
            if splitter[0] == 'First':
                splitter[0] = dumb_list[1]
            elif splitter[0] == 'Second':
                splitter[0] = dumb_list[2]
            elif splitter[0] == 'Third':
                splitter[0] = dumb_list[3]
            elif splitter[0] == 'Fourth':
                splitter[0] = dumb_list[4]
            elif splitter[0] == 'Fifth':
                splitter[0] = dumb_list[5]
            elif splitter[0] == 'Sixth':
                splitter[0] = dumb_list[6]
            elif splitter[0] == 'Seventh':
                splitter[0] = dumb_list[7]
            elif splitter[0] == 'Eighth':
                splitter[0] = dumb_list[8]
            elif splitter[0] == 'Ninth':
                splitter[0] = dumb_list[9]
            elif splitter[0] == 'Tenth':
                splitter[0] = dumb_list[10]
            elif splitter[0] == 'Eleventh':
                splitter[0] = dumb_list[11]
            elif splitter[0] == 'Twelfth':
                splitter[0] = dumb_list[12]
            elif splitter[0] == 'Thirteenth':
                splitter[0] = dumb_list[13]
            elif splitter[0] == 'Fourteenth':
                splitter[0] = dumb_list[14]
            elif splitter[0] == 'Fifteenth':
                splitter[0] = dumb_list[15]
            elif splitter[0] == 'Sixteenth':
                splitter[0] = dumb_list[16]
            elif splitter[0] == 'Seventeenth':
                splitter[0] = dumb_list[17]
            elif splitter[0] == 'Eighteenth':
                splitter[0] = dumb_list[18]
            elif splitter[0] == 'Nineteenth':
                splitter[0] = dumb_list[19]
            elif splitter[0] == 'Twentieth':
                splitter[0] = dumb_list[20]
            elif splitter[0] == 'Twenty-First':
                splitter[0] = dumb_list[21]
            elif splitter[0] == 'Twenty-Second':
                splitter[0] = dumb_list[22]

            district = ''
            for j in range(len(splitter)):
                if j != len(splitter)-1:
                    district += splitter[j]+" "
                else:
                    district += splitter[j]
            house_districts[i] = district

    index_list = []
    for index, row in census_house.iterrows():
        temp_str = row['Geography']
        if temp_str not in house_districts:
            index_list += [index]
    census_house = census_house.drop(index_list, axis=0)
    return census_house

In [48]:
census_house = census_house_demo("MODEL_TWO_Census_2010-2015/House/2015/Census_2015_demo.csv", '2015')
census_house.to_csv('MODEL_TWO_Census_2010-2015/House/2015/final_census_house_2015.csv')
print("final_census_house_2014 is written")

# census_house = census_house_demo("Census_2010-2014/House/2014/Census_2014_demo.csv", "2014")
# census_house.to_csv('Census_2010-2014/House/2014/final_census_house_2014.csv')
# print("final_census_house is written")

# census_house = census_house_demo("Census_2010-2014/House/2013/Census_2013_demo.csv", "2013")
# census_house.to_csv('Census_2010-2014/House/2013/final_census_house_2013.csv')
# print("final_census_house is written")

# census_house = census_house_demo("Census_2010-2014/House/2012/Census_2012_demo.csv", "2012")
# census_house.to_csv('Census_2010-2014/House/2012/final_census_house_2012.csv')
# print("final_census_house is written")

# census_house = census_house_demo("Census_2010-2014/House/2011/Census_2011_demo.csv", "2011")
# census_house.to_csv('Census_2010-2014/House/2011/final_census_house_2011.csv')
# print("final_census_house is written")

# census_house = census_house_demo("Census_2010-2014/House/2010/Census_2010_demo.csv", "2010")
# census_house.to_csv('Census_2010-2014/House/2010/final_census_house_2010.csv')
# print("final_census_house is written")

final_census_house_2014 is written

In [15]:
def census_senate_money(file):
    df4 = pd.read_csv('MODEL_TWO_Census_2010-2015/onlydata.csv', header=None)
    senate_districts = df4[0].tolist()
    senate_districts = senate_districts[:-1]
    for i in range(len(senate_districts)):
        temp_str = senate_districts[i]
        senate_districts[i] = temp_str[4:]
    census_senate_income = pd.read_csv(file, skiprows=1)


    census_senate_income['Geography'] = census_senate_income['Geography'].apply(lambda x: x.split("(")[0])
    census_senate_income['Geography'] = census_senate_income['Geography'].apply(lambda x: x.split("District")[0])

    index_list = []
    for index, row in census_senate_income.iterrows():
        temp_str = row['Geography']
        if temp_str[:-1] not in senate_districts:
            index_list += [index]
    census_senate_income = census_senate_income.drop(index_list, axis=0)
    return census_senate_income

In [16]:
census_senate = census_demo_clean("MODEL_TWO_Census_2010-2015/Senate/2015/Census_2015_income.csv")
census_senate.to_csv('MODEL_TWO_Census_2010-2015/Senate/2015/final_census_senate_income_2015.csv')
print("final_census_senate_2014 is written")

# census_senate_income = census_senate_money("Census_2010-2014/Senate/2014/Census_2014_income.csv")
# census_senate_income.to_csv('Census_2010-2014/Senate/2014/final_census_senate_income_2014.csv')
# print("final_census_senate_income is written") 

# census_senate_income = census_senate_money("Census_2010-2014/Senate/2013/Census_2013_income.csv")
# census_senate_income.to_csv('Census_2010-2014/Senate/2013/final_census_senate_income_2013.csv')
# print("final_census_senate_income is written") 

# census_senate_income = census_senate_money("Census_2010-2014/Senate/2012/Census_2012_income.csv")
# census_senate_income.to_csv('Census_2010-2014/Senate/2012/final_census_senate_income_2012.csv')
# print("final_census_senate_income is written") 

# census_senate_income = census_senate_money("Census_2010-2014/Senate/2011/Census_2011_income.csv")
# census_senate_income.to_csv('Census_2010-2014/Senate/2011/final_census_senate_income_2011.csv')
# print("final_census_senate_income is written") 

# census_senate_income = census_senate_money("Census_2010-2014/Senate/2010/Census_2010_income.csv")
# census_senate_income.to_csv('Census_2010-2014/Senate/2010/final_census_senate_income_2010.csv')
# print("final_census_senate_income is written")

final_census_senate_2014 is written

In [49]:
def census_house_money(file, year):
    ordinal = lambda n: "%d%s" % (n,"tsnrhtdd"[(math.floor(n/10)%10!=1)*(n%10<4)*n%10::4])
    dumb_list = [ordinal(n) for n in range(0,23)]

    ind=None
    df4 = pd.read_csv('MODEL_TWO_Census_2010-2015/onlydatahouse.csv', header=None)
    for index, row in df4.iterrows():
        if row[0] == '005 Fifth Barnstable':
            ind = index
    df4 = df4.drop([ind], axis=0)
    df4[0] = df4[0].apply(lambda x: x.split(" District")[0])
    house_districts = df4[0].tolist()
    house_districts = house_districts [:-1]
    for i in range(len(house_districts)):
        temp_str = house_districts[i]
        house_districts[i] = temp_str[4:]
    census_house_income = pd.read_csv(file,skiprows=1)
    census_house_income['Geography'] = census_house_income['Geography'].apply(lambda x: x.split(" District")[0])


    if year == "2015" or year == "2014" or year == "2013" or year == "2012":
        for i in range(len(house_districts)):
            splitter = house_districts[i].split(" ")
            if splitter[0] == 'Barnstable':
                continue
            if splitter[0] == 'First':
                splitter[0] = dumb_list[1]
            elif splitter[0] == 'Second':
                splitter[0] = dumb_list[2]
            elif splitter[0] == 'Third':
                splitter[0] = dumb_list[3]
            elif splitter[0] == 'Fourth':
                splitter[0] = dumb_list[4]
            elif splitter[0] == 'Fifth':
                splitter[0] = dumb_list[5]
            elif splitter[0] == 'Sixth':
                splitter[0] = dumb_list[6]
            elif splitter[0] == 'Seventh':
                splitter[0] = dumb_list[7]
            elif splitter[0] == 'Eighth':
                splitter[0] = dumb_list[8]
            elif splitter[0] == 'Ninth':
                splitter[0] = dumb_list[9]
            elif splitter[0] == 'Tenth':
                splitter[0] = dumb_list[10]
            elif splitter[0] == 'Eleventh':
                splitter[0] = dumb_list[11]
            elif splitter[0] == 'Twelfth':
                splitter[0] = dumb_list[12]
            elif splitter[0] == 'Thirteenth':
                splitter[0] = dumb_list[13]
            elif splitter[0] == 'Fourteenth':
                splitter[0] = dumb_list[14]
            elif splitter[0] == 'Fifteenth':
                splitter[0] = dumb_list[15]
            elif splitter[0] == 'Sixteenth':
                splitter[0] = dumb_list[16]
            elif splitter[0] == 'Seventeenth':
                splitter[0] = dumb_list[17]
            elif splitter[0] == 'Eighteenth':
                splitter[0] = dumb_list[18]
            elif splitter[0] == 'Nineteenth':
                splitter[0] = dumb_list[19]
            elif splitter[0] == 'Twentieth':
                splitter[0] = dumb_list[20]
            elif splitter[0] == 'Twenty-First':
                splitter[0] = dumb_list[21]
            elif splitter[0] == 'Twenty-Second':
                splitter[0] = dumb_list[22]

            district = ''
            for j in range(len(splitter)):
                if j != len(splitter)-1:
                    district += splitter[j]+" "
                else:
                    district += splitter[j]
            house_districts[i] = district

    index_list = []
    for index, row in census_house_income.iterrows():
        temp_str = row['Geography']
        if temp_str not in house_districts:
            index_list += [index]
    census_house_income = census_house_income.drop(index_list, axis=0)
    return census_house_income

In [50]:
census_house = census_house_demo("MODEL_TWO_Census_2010-2015/House/2015/Census_2015_income.csv", '2015')
census_house.to_csv('MODEL_TWO_Census_2010-2015/House/2015/final_census_house_income_2015.csv')
print("final_census_house_2014 is written")

# census_house_income = census_house_money("Census_2010-2014/House/2014/Census_2014_income.csv", "2014")
# census_house_income.to_csv('Census_2010-2014/House/2014/final_census_house_income_2014.csv')
# print("final_census_house_income is written")

# census_house_income = census_house_money("Census_2010-2014/House/2013/Census_2013_income.csv", "2013")
# census_house_income.to_csv('Census_2010-2014/House/2013/final_census_house_income_2013.csv')
# print("final_census_house_income is written")

# census_house_income = census_house_money("Census_2010-2014/House/2012/Census_2012_income.csv", "2012")
# census_house_income.to_csv('Census_2010-2014/House/2012/final_census_house_income_2012.csv')
# print("final_census_house_income is written")

# census_house_income = census_house_money("Census_2010-2014/House/2011/Census_2011_income.csv", "2011")
# census_house_income.to_csv('Census_2010-2014/House/2011/final_census_house_income_2011.csv')
# print("final_census_house_income is written")

# census_house_income = census_house_money("Census_2010-2014/House/2010/Census_2010_income.csv", "2010")
# census_house_income.to_csv('Census_2010-2014/House/2010/final_census_house_income_2010.csv')
# print("final_census_house_income is written")

final_census_house_2014 is written

In [17]:
senate_reg = pd.read_csv("MODEL_TWO_Census_2010-2015/Senate/2015/final_census_senate_2015.csv", index_col=0)
senate_income = pd.read_csv("MODEL_TWO_Census_2010-2015/Senate/2015/final_census_senate_income_2015.csv", index_col=0)

In [18]:
senate_income = senate_income.drop(['Id2', 'Geography'], axis=1)

In [19]:
demo_and_income = senate_reg.merge(senate_income, how='left', on='Id', left_index=True, right_index=True)
demo_and_income = demo_and_income.drop(['Id2'], axis=1)

In [21]:
demo_and_income.to_csv("MODEL_TWO_Census_2010-2015/Senate/2015/FINAL_SENATE_all_census_data_2015.csv")
print("FINAL_SENATE_all_census_data_2015.csv is written")

FINAL_SENATE_all_census_data_2015.csv is written

In [51]:
house_reg = pd.read_csv("MODEL_TWO_Census_2010-2015/House/2015/final_census_house_2015.csv", index_col=0)
house_income = pd.read_csv("MODEL_TWO_Census_2010-2015/House/2015/final_census_house_income_2015.csv", index_col=0)
house_reg = house_reg.drop(['Id2'], axis=1)
house_income = house_income.drop(['Id2', 'Geography'], axis=1)

In [52]:
house_demo_and_income = house_reg.merge(house_income, how='left', on='Id', left_index=True, right_index=True)

In [53]:
house_demo_and_income.to_csv("MODEL_TWO_Census_2010-2015/House/2015/FINAL_HOUSE_all_census_data_2015.csv")
print("FINAL_HOUSE_all_census_data_2015.csv is written")

FINAL_HOUSE_all_census_data_2015.csv is written

In [25]:
vb_senate = pd.read_csv('MODEL_TWO_Census_2010-2015/VoteBuilder_Senate_processed.csv')
cen_senate = pd.read_csv("MODEL_TWO_Census_2010-2015/Senate/2015/FINAL_SENATE_all_census_data_2015.csv", index_col = 0)
cen_senate = cen_senate.drop(['Id'], axis=1)
cen_senate=cen_senate.rename(columns = {'Geography':'District'})
vb_senate

,District,Dem_0_of_4,Dem_0_of_4_%,Dem_1_of_4,Dem_1_of_4_%,Dem_2_of_4,Dem_2_of_4_%,Dem_3_of_4,Dem_3_of_4_%,Dem_4_of_4,...,UnEn_Female_%,UnEn_unknown_gender,UnEn_unknown_gender_%,Unkn_Male,Unkn_Male_%,Unkn_Female,Unkn_Female_%,Unkn_unknown_gender,Unkn_unknown_gender_%,Total_Voters
0,Bristol & Norfolk,"2,009",2.98,"2,723",4.03,"2,217",3.28,"2,405",3.56,"4,770",...,32.98,45,0.07,453,0.67,453,0.67,1,0.00,"67,494"
1,First Bristol & Plymouth,406,3.13,486,3.75,406,3.13,483,3.72,862,...,32.35,1,0.01,91,0.70,102,0.79,0,0.00,"12,972"
2,Cape & Islands,"2,493",3.09,"3,349",4.15,"2,704",3.35,"3,168",3.93,"7,879",...,31.37,93,0.12,446,0.55,509,0.63,1,0.00,"80,680"
3,First Essex,"1,178",2.78,"1,940",4.57,"1,603",3.78,"1,840",4.34,"4,263",...,31.35,82,0.19,277,0.65,380,0.90,2,0.00,"42,442"
4,Second Essex,77,1.59,133,2.74,109,2.25,171,3.52,402,...,31.91,9,0.19,15,0.31,26,0.54,0,0.00,"4,855"
5,Third Essex,888,3.06,"1,229",4.24,"1,049",3.61,"1,317",4.54,"3,203",...,30.97,57,0.20,170,0.59,202,0.70,1,0.00,"29,018"
6,First Essex & Middlesex,"2,943",2.29,"4,722",3.68,"4,086",3.18,"5,143",4.00,"11,819",...,32.11,263,0.20,662,0.52,652,0.51,10,0.01,"128,477"
7,Second Essex & Middlesex,575,2.65,892,4.11,753,3.47,905,4.17,"2,032",...,30.78,40,0.18,82,0.38,68,0.31,0,0.00,"21,680"
8,Second Hampden & Hampshire,"5,703",5.36,"5,704",5.36,"4,814",4.52,"5,451",5.12,"10,576",...,28.47,50,0.05,826,0.78,905,0.85,3,0.00,"106,491"
9,First Middlesex,326,1.74,610,3.26,560,3.00,682,3.65,"1,528",...,31.81,16,0.09,103,0.55,116,0.62,0,0.00,"18,687"
10,Fourth Middlesex,891,3.15,"1,315",4.64,"1,075",3.79,"1,229",4.34,"2,643",...,31.37,2,0.01,202,0.71,170,0.60,1,0.00,"28,328"
11,Fifth Middlesex,408,2.06,806,4.08,733,3.71,970,4.90,"2,470",...,30.40,5,0.03,117,0.59,119,0.60,0,0.00,"19,779"
12,Middlesex & Worcester,260,3.02,418,4.86,332,3.86,338,3.93,810,...,29.29,34,0.40,55,0.64,51,0.59,0,0.00,"8,604"
13,"Norfolk, Bristol & Middlesex","2,918",2.59,"4,770",4.24,"3,833",3.40,"4,778",4.24,"11,174",...,31.11,115,0.10,631,0.56,595,0.53,3,0.00,"112,575"
14,"Norfolk, Bristol & Plymouth",135,2.52,203,3.78,198,3.69,240,4.47,412,...,31.38,18,0.34,30,0.56,38,0.71,0,0.00,"5,364"
15,Norfolk & Plymouth,767,3.23,"1,032",4.35,875,3.69,"1,070",4.51,"2,106",...,33.10,14,0.06,147,0.62,169,0.71,0,0.00,"23,740"
16,Plymouth & Barnstable,"2,999",2.55,"4,203",3.57,"3,644",3.10,"4,718",4.01,"11,300",...,32.25,64,0.05,749,0.64,880,0.75,3,0.00,"117,595"
17,First Plymouth & Bristol,"4,326",4.27,"4,666",4.60,"3,868",3.82,"4,225",4.17,"7,486",...,32.67,216,0.21,764,0.75,882,0.87,11,0.01,"101,331"
18,Second Plymouth & Bristol,685,2.62,892,3.41,814,3.11,990,3.79,"2,216",...,33.59,5,0.02,160,0.61,200,0.76,0,0.00,"26,152"
19,Plymouth & Norfolk,"3,155",2.58,"4,734",3.87,"4,100",3.35,"5,244",4.28,"13,577",...,31.06,92,0.08,715,0.58,800,0.65,7,0.01,"122,479"
20,First Worcester,"1,329",6.04,"1,368",6.22,862,3.92,820,3.73,"1,810",...,29.19,170,0.77,145,0.66,161,0.73,6,0.03,"21,995"
21,Second Worcester,"3,112",3.57,"3,999",4.58,"3,320",3.80,"3,745",4.29,"8,341",...,30.77,282,0.32,624,0.72,630,0.72,10,0.01,"87,267"
22,"Worcester, Hampden, Hampshire & Middlesex","2,241",2.78,"2,655",3.30,"2,503",3.11,"2,928",3.64,"5,890",...,32.79,100,0.12,606,0.75,610,0.76,10,0.01,"80,488"
23,Worcester & Middlesex,220,1.81,359,2.95,291,2.40,333,2.74,792,...,33.62,4,0.03,82,0.67,91,0.75,0,0.00,"12,149"
24,Worcester & Norfolk,"4,016",3.59,"4,656",4.16,"3,964",3.54,"4,505",4.02,"8,777",...,31.99,214,0.19,908,0.81,950,0.85,4,0.00,"111,947"

In [30]:
cen_senate['District'] = cen_senate['District'].apply(lambda x: x[:-1]) 
cen_dists = cen_senate['District'].tolist()
cen_senate

,District,Estimate; SEX AND AGE - Total population,Margin of Error; SEX AND AGE - Total population,Percent; SEX AND AGE - Total population,Percent Margin of Error; SEX AND AGE - Total population,Estimate; SEX AND AGE - Total population - Male,Margin of Error; SEX AND AGE - Total population - Male,Percent; SEX AND AGE - Total population - Male,Percent Margin of Error; SEX AND AGE - Total population - Male,Estimate; SEX AND AGE - Total population - Female,...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
4,Second Hampden & Hampshir,159107,691,159107,(X),77136,870,48.5,0.5,81971,...,8175,632,5554,471,3354,401,3487,310,2091,281
7,"Worcester, Hampden, Hampshire & Middlese",164093,252,164093,(X),82128,904,50.0,0.6,81965,...,9033,616,7076,524,4755,432,3831,391,3082,312
8,Worcester & Middlese,160804,596,160804,(X),79333,967,49.3,0.6,81471,...,8287,438,6291,441,3557,363,3848,360,2915,327
9,First Worceste,172353,1858,172353,(X),84855,1585,49.2,0.7,87498,...,7085,491,5183,428,3729,337,3877,319,3639,315
10,Second Worceste,174314,1679,174314,(X),85826,1385,49.2,0.6,88488,...,8286,548,6301,523,4657,390,5186,394,4877,351
11,Worcester & Norfol,167237,661,167237,(X),80831,1008,48.3,0.6,86406,...,8578,574,7233,579,4232,387,5624,503,3774,319
12,First Middlese,171050,61,171050,(X),84470,1146,49.4,0.7,86580,...,7269,509,5696,426,3923,304,4951,351,4431,379
13,Middlesex & Worceste,175389,574,175389,(X),88245,1257,50.3,0.7,87144,...,7853,546,7211,532,6171,534,7738,538,10062,514
16,"Norfolk, Bristol & Middlese",166055,1392,166055,(X),81017,1130,48.8,0.6,85038,...,6770,536,6439,493,5033,456,7485,486,10734,508
17,Second Essex & Middlese,174226,62,174226,(X),83968,1005,48.2,0.6,90258,...,6990,530,5420,515,3731,413,4995,420,5127,339
18,First Esse,175313,592,175313,(X),85740,1113,48.9,0.6,89573,...,9463,677,6925,560,5239,418,5476,500,4480,348
19,First Essex & Middlese,175364,597,175364,(X),86657,1069,49.4,0.6,88707,...,7485,470,7020,471,5648,432,7897,584,9588,568
20,Second Esse,169013,61,169013,(X),79981,1131,47.3,0.7,89032,...,9470,662,6914,502,4693,433,5068,407,4702,371
21,Third Esse,169276,71,169276,(X),80538,1048,47.6,0.6,88738,...,7377,468,6194,474,4098,375,5091,529,5326,350
22,Fifth Middlese,172698,349,172698,(X),83595,1173,48.4,0.7,89103,...,8688,649,6930,533,5229,478,6728,499,6005,420
23,Fourth Middlese,172162,696,172162,(X),84136,1071,48.9,0.6,88026,...,8409,619,7721,506,6390,515,7756,463,8915,474
30,Bristol & Norfol,159377,848,159377,(X),77896,1072,48.9,0.6,81481,...,8030,623,6746,570,5120,433,6017,420,7450,387
31,"Norfolk, Bristol & Plymout",162332,857,162332,(X),77696,1141,47.9,0.6,84636,...,7055,614,6623,550,5334,431,6328,414,6961,427
32,Norfolk & Plymout,162254,636,162254,(X),78810,1189,48.6,0.7,83444,...,9500,674,7714,654,4267,424,5208,472,3553,410
33,Plymouth & Norfol,166575,95,166575,(X),79596,970,47.8,0.6,86979,...,7720,557,7037,613,5479,511,6528,416,9342,546
34,Second Plymouth & Bristo,162230,617,162230,(X),78708,728,48.5,0.5,83522,...,7956,593,5497,378,3413,321,4097,306,2321,276
35,First Plymouth & Bristo,173496,47,173496,(X),85723,1143,49.4,0.7,87773,...,9815,597,6446,481,4695,466,4496,432,3215,380
36,First Bristol & Plymout,164361,46,164361,(X),79380,1016,48.3,0.6,84981,...,7915,632,5683,473,3497,391,3166,342,2149,242
38,Plymouth & Barnstabl,160707,55,160707,(X),77935,930,48.5,0.6,82772,...,8961,611,7314,577,5527,528,5638,528,4328,448
39,Cape & Island,170550,28,170550,(X),81328,642,47.7,0.4,89222,...,9893,598,6954,528,4625,341,4258,416,4221,392

In [29]:
# vb_census_senate = vb_senate.merge(cen_senate, how='left', on='District', left_index=True, right_index=True)
vb_census_senate = pd.concat([vb_senate.set_index('District'), cen_senate.set_index('District')], axis=1, join='inner')
# senate_ocpf = pd.concat([ocpf_df.set_index('City'), senate_df.set_index('city_town')], axis=1, join='inner')
vb_census_senate

,Dem_0_of_4,Dem_0_of_4_%,Dem_1_of_4,Dem_1_of_4_%,Dem_2_of_4,Dem_2_of_4_%,Dem_3_of_4,Dem_3_of_4_%,Dem_4_of_4,Dem_4_of_4_%,...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
District,,,,,,,,,,,,,,,,,,,,,
Second Hampden & Hampshire,"5,703",5.36,"5,704",5.36,"4,814",4.52,"5,451",5.12,"10,576",9.93,...,8175,632,5554,471,3354,401,3487,310,2091,281
"Worcester, Hampden, Hampshire & Middlesex","2,241",2.78,"2,655",3.30,"2,503",3.11,"2,928",3.64,"5,890",7.32,...,9033,616,7076,524,4755,432,3831,391,3082,312
Worcester & Middlesex,220,1.81,359,2.95,291,2.40,333,2.74,792,6.52,...,8287,438,6291,441,3557,363,3848,360,2915,327
First Worcester,"1,329",6.04,"1,368",6.22,862,3.92,820,3.73,"1,810",8.23,...,7085,491,5183,428,3729,337,3877,319,3639,315
Second Worcester,"3,112",3.57,"3,999",4.58,"3,320",3.80,"3,745",4.29,"8,341",9.56,...,8286,548,6301,523,4657,390,5186,394,4877,351
Worcester & Norfolk,"4,016",3.59,"4,656",4.16,"3,964",3.54,"4,505",4.02,"8,777",7.84,...,8578,574,7233,579,4232,387,5624,503,3774,319
First Middlesex,326,1.74,610,3.26,560,3.00,682,3.65,"1,528",8.18,...,7269,509,5696,426,3923,304,4951,351,4431,379
Middlesex & Worcester,260,3.02,418,4.86,332,3.86,338,3.93,810,9.41,...,7853,546,7211,532,6171,534,7738,538,10062,514
"Norfolk, Bristol & Middlesex","2,918",2.59,"4,770",4.24,"3,833",3.40,"4,778",4.24,"11,174",9.93,...,6770,536,6439,493,5033,456,7485,486,10734,508
Second Essex & Middlesex,575,2.65,892,4.11,753,3.47,905,4.17,"2,032",9.37,...,6990,530,5420,515,3731,413,4995,420,5127,339
First Essex,"1,178",2.78,"1,940",4.57,"1,603",3.78,"1,840",4.34,"4,263",10.04,...,9463,677,6925,560,5239,418,5476,500,4480,348
First Essex & Middlesex,"2,943",2.29,"4,722",3.68,"4,086",3.18,"5,143",4.00,"11,819",9.20,...,7485,470,7020,471,5648,432,7897,584,9588,568
Second Essex,77,1.59,133,2.74,109,2.25,171,3.52,402,8.28,...,9470,662,6914,502,4693,433,5068,407,4702,371
Third Essex,888,3.06,"1,229",4.24,"1,049",3.61,"1,317",4.54,"3,203",11.04,...,7377,468,6194,474,4098,375,5091,529,5326,350
Fifth Middlesex,408,2.06,806,4.08,733,3.71,970,4.90,"2,470",12.49,...,8688,649,6930,533,5229,478,6728,499,6005,420
Fourth Middlesex,891,3.15,"1,315",4.64,"1,075",3.79,"1,229",4.34,"2,643",9.33,...,8409,619,7721,506,6390,515,7756,463,8915,474
Bristol & Norfolk,"2,009",2.98,"2,723",4.03,"2,217",3.28,"2,405",3.56,"4,770",7.07,...,8030,623,6746,570,5120,433,6017,420,7450,387
"Norfolk, Bristol & Plymouth",135,2.52,203,3.78,198,3.69,240,4.47,412,7.68,...,7055,614,6623,550,5334,431,6328,414,6961,427
Norfolk & Plymouth,767,3.23,"1,032",4.35,875,3.69,"1,070",4.51,"2,106",8.87,...,9500,674,7714,654,4267,424,5208,472,3553,410
Plymouth & Norfolk,"3,155",2.58,"4,734",3.87,"4,100",3.35,"5,244",4.28,"13,577",11.09,...,7720,557,7037,613,5479,511,6528,416,9342,546
Second Plymouth & Bristol,685,2.62,892,3.41,814,3.11,990,3.79,"2,216",8.47,...,7956,593,5497,378,3413,321,4097,306,2321,276
First Plymouth & Bristol,"4,326",4.27,"4,666",4.60,"3,868",3.82,"4,225",4.17,"7,486",7.39,...,9815,597,6446,481,4695,466,4496,432,3215,380
First Bristol & Plymouth,406,3.13,486,3.75,406,3.13,483,3.72,862,6.65,...,7915,632,5683,473,3497,391,3166,342,2149,242
Plymouth & Barnstable,"2,999",2.55,"4,203",3.57,"3,644",3.10,"4,718",4.01,"11,300",9.61,...,8961,611,7314,577,5527,528,5638,528,4328,448
Cape & Islands,"2,493",3.09,"3,349",4.15,"2,704",3.35,"3,168",3.93,"7,879",9.77,...,9893,598,6954,528,4625,341,4258,416,4221,392

In [60]:
vb_house = pd.read_csv('MODEL_TWO_Census_2010-2015/VoteBuilder_House_processed.csv')
cen_house = pd.read_csv("MODEL_TWO_Census_2010-2015/House/2015/FINAL_HOUSE_all_census_data_2015.csv", index_col = 0)
cen_house = cen_house.drop(['Id'], axis=1)
cen_house=cen_house.rename(columns = {'Geography':'District'})
vb_house
vb_house['District'] = vb_house['District'].apply(lambda x: x.split(" District")[0])
vb_districts = vb_house.District.tolist()
vb_districts

['First Barnstable',
 'Second Barnstable',
 'Third Barnstable',
 'Fifth Barnstable',
 'Barnstable, Dukes & Nantucket',
 'Fourth Berkshire',
 'First Bristol',
 'Second Bristol',
 'Third Bristol',
 'Fourth Bristol',
 'Twelfth Bristol',
 'Fourteenth Bristol',
 'First Essex',
 'Second Essex',
 'Fourth Essex',
 'Fifth Essex',
 'Ninth Essex',
 'Thirteenth Essex',
 'Fourteenth Essex',
 'Eighteenth Essex',
 'First Hampden',
 'Third Hampden',
 'Fourth Hampden',
 'Fifth Hampden',
 'Eighth Hampden',
 'First Hampshire',
 'Second Hampshire',
 'First Middlesex',
 'Fifth Middlesex',
 'Thirteenth Middlesex',
 'Nineteenth Middlesex',
 'Twentieth Middlesex',
 'Twenty-First Middlesex',
 'Twenty-Second Middlesex',
 'Third Norfolk',
 'Fourth Norfolk',
 'Ninth Norfolk',
 'Tenth Norfolk',
 'Thirteenth Norfolk',
 'Fourteenth Norfolk',
 'First Plymouth',
 'Second Plymouth',
 'Third Plymouth',
 'Fourth Plymouth',
 'Fifth Plymouth',
 'Sixth Plymouth',
 'Seventh Plymouth',
 'Eighth Plymouth',
 'Twelfth Plymouth',
 'First Worcester',
 'Fifth Worcester',
 'Sixth Worcester',
 'Seventh Worcester',
 'Eighth Worcester',
 'Ninth Worcester',
 'Tenth Worcester',
 'Eleventh Worcester',
 'Seventeenth Worcester',
 'Eighteenth Worcester']

In [61]:
import math
ordinal = lambda n: "%d%s" % (n,"tsnrhtdd"[(math.floor(n/10)%10!=1)*(n%10<4)*n%10::4])
dumb_list = [ordinal(n) for n in range(0,23)]

for i in range(len(vb_districts)):
    splitter = vb_districts[i].split(" ")
    if splitter[0] == 'Barnstable,':
        continue
    if splitter[0] == 'First':
        splitter[0] = dumb_list[1]
    elif splitter[0] == 'Second':
        splitter[0] = dumb_list[2]
    elif splitter[0] == 'Third':
        splitter[0] = dumb_list[3]
    elif splitter[0] == 'Fourth':
        splitter[0] = dumb_list[4]
    elif splitter[0] == 'Fifth':
        splitter[0] = dumb_list[5]
    elif splitter[0] == 'Sixth':
        splitter[0] = dumb_list[6]
    elif splitter[0] == 'Seventh':
        splitter[0] = dumb_list[7]
    elif splitter[0] == 'Eighth':
        splitter[0] = dumb_list[8]
    elif splitter[0] == 'Ninth':
        splitter[0] = dumb_list[9]
    elif splitter[0] == 'Tenth':
        splitter[0] = dumb_list[10]
    elif splitter[0] == 'Eleventh':
        splitter[0] = dumb_list[11]
    elif splitter[0] == 'Twelfth':
        splitter[0] = dumb_list[12]
    elif splitter[0] == 'Thirteenth':
        splitter[0] = dumb_list[13]
    elif splitter[0] == 'Fourteenth':
        splitter[0] = dumb_list[14]
    elif splitter[0] == 'Fifteenth':
        splitter[0] = dumb_list[15]
    elif splitter[0] == 'Sixteenth':
        splitter[0] = dumb_list[16]
    elif splitter[0] == 'Seventeenth':
        splitter[0] = dumb_list[17]
    elif splitter[0] == 'Eighteenth':
        splitter[0] = dumb_list[18]
    elif splitter[0] == 'Nineteenth':
        splitter[0] = dumb_list[19]
    elif splitter[0] == 'Twentieth':
        splitter[0] = dumb_list[20]
    elif splitter[0] == 'Twenty-First':
        splitter[0] = dumb_list[21]
    elif splitter[0] == 'Twenty-Second':
        splitter[0] = dumb_list[22]
        
    district = ''
    for j in range(len(splitter)):
        if j != len(splitter)-1:
            district += splitter[j]+" "
        else:
            district += splitter[j]
    vb_districts[i] = district
vb_house.District = [vb_districts[i] for i in range(len(vb_districts))]
vb_house

,District,Dem_0_of_4,Dem_0_of_4_%,Dem_1_of_4,Dem_1_of_4_%,Dem_2_of_4,Dem_2_of_4_%,Dem_3_of_4,Dem_3_of_4_%,Dem_4_of_4,...,UnEn_Female_%,UnEn_unknown_gender,UnEn_unknown_gender_%,Unkn_Male,Unkn_Male_%,Unkn_Female,Unkn_Female_%,Unkn_unknown_gender,Unkn_unknown_gender_%,Total_Voters
0,1st Barnstable,965,2.83,"1,364",4.01,"1,130",3.32,"1,359",3.99,"3,624",...,31.55,22,0.06,185,0.54,226,0.66,1,0.00,"34,051"
1,2nd Barnstable,"1,174",3.91,"1,389",4.63,"1,082",3.60,"1,166",3.88,"2,633",...,30.63,62,0.21,167,0.56,156,0.52,0,0.00,"30,030"
2,3rd Barnstable,847,2.68,"1,161",3.68,992,3.14,"1,282",4.06,"3,244",...,32.45,5,0.02,152,0.48,210,0.66,1,0.00,"31,586"
3,5th Barnstable,629,2.08,989,3.27,800,2.65,"1,112",3.68,"2,558",...,32.09,29,0.10,195,0.65,212,0.70,1,0.00,"30,216"
4,"Barnstable, Dukes & Nantucket",320,2.83,500,4.43,418,3.70,525,4.65,"1,692",...,30.43,1,0.01,42,0.37,47,0.42,0,0.00,"11,299"
5,4th Berkshire,45,2.99,45,2.99,33,2.19,47,3.13,87,...,30.98,6,0.40,8,0.53,13,0.86,1,0.07,"1,504"
6,1st Bristol,823,2.89,"1,181",4.15,951,3.34,"1,094",3.84,"2,365",...,32.44,26,0.09,182,0.64,157,0.55,1,0.00,"28,467"
7,2nd Bristol,470,3.91,568,4.73,479,3.99,438,3.65,791,...,32.91,3,0.02,107,0.89,95,0.79,0,0.00,"12,010"
8,3rd Bristol,"1,559",5.79,"1,557",5.79,"1,256",4.67,"1,260",4.68,"2,477",...,30.51,80,0.30,169,0.63,223,0.83,1,0.00,"26,913"
9,4th Bristol,"1,083",3.65,"1,250",4.21,"1,013",3.41,"1,012",3.41,"1,640",...,33.34,5,0.02,220,0.74,223,0.75,0,0.00,"29,702"
10,12th Bristol,"1,042",3.66,"1,153",4.06,898,3.16,"1,090",3.83,"1,761",...,33.42,25,0.09,223,0.78,236,0.83,2,0.01,"28,434"
11,14th Bristol,776,2.85,"1,105",4.06,939,3.45,972,3.57,"1,785",...,32.81,41,0.15,170,0.62,166,0.61,1,0.00,"27,221"
12,1st Essex,970,2.93,"1,603",4.84,"1,320",3.98,"1,488",4.49,"3,524",...,30.73,51,0.15,217,0.65,301,0.91,0,0.00,"33,139"
13,2nd Essex,614,1.84,"1,078",3.23,975,2.92,"1,214",3.64,"2,863",...,32.17,68,0.20,180,0.54,215,0.64,4,0.01,"33,368"
14,4th Essex,651,1.94,"1,162",3.47,886,2.65,"1,247",3.72,"2,931",...,32.24,35,0.10,162,0.48,161,0.48,2,0.01,"33,491"
15,5th Essex,867,2.91,"1,307",4.39,"1,121",3.76,"1,370",4.60,"3,306",...,32.56,103,0.35,200,0.67,176,0.59,3,0.01,"29,781"
16,9th Essex,947,3.11,"1,437",4.72,"1,220",4.01,"1,562",5.13,"3,618",...,30.93,43,0.14,194,0.64,216,0.71,1,0.00,"30,453"
17,13th Essex,60,1.84,86,2.63,87,2.67,139,4.26,235,...,34.80,2,0.06,14,0.43,21,0.64,0,0.00,"3,264"
18,14th Essex,70,3.84,110,6.03,67,3.68,61,3.35,145,...,30.50,11,0.60,9,0.49,9,0.49,1,0.05,"1,823"
19,18th Essex,788,2.49,"1,224",3.87,"1,043",3.30,"1,301",4.11,"2,653",...,30.70,68,0.22,140,0.44,117,0.37,1,0.00,"31,624"
20,1st Hampden,976,3.37,"1,006",3.48,"1,055",3.65,"1,233",4.26,"2,096",...,31.95,41,0.14,240,0.83,243,0.84,3,0.01,"28,921"
21,3rd Hampden,"1,201",4.18,"1,077",3.75,"1,002",3.49,"1,167",4.06,"2,325",...,30.10,29,0.10,232,0.81,249,0.87,1,0.00,"28,741"
22,4th Hampden,942,3.68,"1,155",4.52,867,3.39,998,3.90,"2,232",...,28.81,13,0.05,229,0.90,266,1.04,1,0.00,"25,570"
23,5th Hampden,"2,367",9.21,"2,008",7.81,"1,683",6.55,"1,802",7.01,"3,136",...,25.35,2,0.01,168,0.65,177,0.69,0,0.00,"25,704"
24,8th Hampden,649,8.22,542,6.87,404,5.12,415,5.26,751,...,27.57,0,0.00,63,0.80,65,0.82,0,0.00,"7,895"
25,1st Hampshire,93,1.79,175,3.37,148,2.85,236,4.54,449,...,32.57,0,0.00,28,0.54,34,0.65,0,0.00,"5,198"
26,2nd Hampshire,406,3.42,702,5.91,677,5.70,786,6.62,"1,596",...,29.09,0,0.00,98,0.82,101,0.85,0,0.00,"11,879"
27,1st Middlesex,591,1.95,980,3.23,879,2.90,"1,022",3.37,"2,232",...,32.49,22,0.07,181,0.60,211,0.70,0,0.00,"30,295"
28,5th Middlesex,350,2.10,739,4.44,591,3.55,843,5.06,"2,367",...,28.98,1,0.01,90,0.54,68,0.41,0,0.00,"16,649"
29,13th Middlesex,203,2.70,372,4.95,274,3.65,400,5.32,989,...,30.29,19,0.25,21,0.28,19,0.25,0,0.00,"7,513"
30,19th Middlesex,372,2.64,543,3.85,524,3.72,613,4.35,"1,313",...,33.15,35,0.25,34,0.24,38,0.27,1,0.01,"14,100"
31,20th Middlesex,663,2.04,"1,070",3.29,"1,015",3.12,"1,263",3.88,"3,375",...,30.79,34,0.10,162,0.50,181,0.56,0,0.00,"32,542"
32,21st Middlesex,67,2.51,102,3.83,75,2.81,88,3.30,226,...,31.88,6,0.23,11,0.41,12,0.45,0,0.00,"2,666"
33,22nd Middlesex,891,3.15,"1,315",4.64,"1,075",3.79,"1,229",4.34,"2,643",...,31.37,2,0.01,202,0.71,170,0.60,1,0.00,"28,328"
34,3rd Norfolk,289,2.81,449,4.37,393,3.83,532,5.18,"1,409",...,31.21,1,0.01,64,0.62,71,0.69,0,0.00,"10,272"
35,4th Norfolk,964,3.34,"1,428",4.94,"1,243",4.30,"1,410",4.88,"3,427",...,30.86,1,0.00,194,0.67,247,0.86,0,0.00,"28,886"
36,9th Norfolk,569,1.91,951,3.19,806,2.70,"1,077",3.61,"2,403",...,32.35,12,0.04,177,0.59,187,0.63,0,0.00,"29,840"
37,10th Norfolk,338,2.38,514,3.62,465,3.27,550,3.87,"1,159",...,31.96,18,0.13,86,0.61,109,0.77,2,0.01,"14,210"
38,13th Norfolk,294,2.70,575,5.27,441,4.04,616,5.65,"1,669",...,27.46,28,0.26,42,0.39,48,0.44,0,0.00,"10,906"
39,14th Norfolk,250,2.99,478,5.71,313,3.74,409,4.89,"1,154",...,28.46,8,0.10,19,0.23,11,0.13,0,0.00,"8,367"
40,1st Plymouth,765,2.50,"1,084",3.54,"1,007",3.29,"1,191",3.89,"2,747",...,32.34,20,0.07,287,0.94,328,1.07,1,0.00,"30,627"
41,2nd Plymouth,958,3.30,"1,105",3.81,982,3.38,"1,052",3.63,"2,123",...,34.09,20,0.07,237,0.82,230,0.79,3,0.01,"29,019"
42,3rd Plymouth,843,2.66,"1,171",3.69,"1,006",3.17,"1,338",4.22,"3,508",...,30.58,43,0.14,165,0.52,177,0.56,3,0.01,"31,699"
43,4th Plymouth,720,2.28,"1,077",3.41,944,2.99,"1,300",4.11,"3,442",...,31.66,45,0.14,169,0.53,182,0.58,4,0.01,"31,622"
44,5th Plymouth,676,2.23,"1,033",3.41,978,3.23,"1,194",3.95,"2,842",...,32.69,1,0.00,178,0.59,215,0.71,0,0.00,"30,254"
45,6th Plymouth,516,2.24,710,3.09,623,2.71,870,3.78,"1,958",...,32.45,3,0.01,100,0.44,97,0.42,0,0.00,"22,987"
46,7th Plymouth,944,3.16,"1,205",4.04,"1,010",3.38,"1,228",4.11,"2,446",...,33.37,18,0.06,190,0.64,222,0.74,0,0.00,"29,848"
47,8th Plymouth,"1,038",3.69,"1,214",4.32,"1,044",3.71,"1,223",4.35,"1,830",...,32.65,109,0.39,210,0.75,277,0.99,5,0.02,"28,109"
48,12th Plymouth,488,2.48,736,3.75,581,2.96,778,3.96,"1,739",...,32.26,17,0.09,145,0.74,189,0.96,0,0.00,"19,645"
49,1st Worcester,556,1.78,976,3.13,851,2.73,"1,056",3.38,"2,757",...,32.29,34,0.11,204,0.65,218,0.70,3,0.01,"31,208"
50,5th Worcester,736,2.60,911,3.21,809,2.85,949,3.35,"2,176",...,33.08,43,0.15,233,0.82,208,0.73,4,0.01,"28,360"
51,6th Worcester,"1,420",5.20,"1,255",4.59,"1,071",3.92,"1,139",4.17,"1,994",...,31.10,42,0.15,200,0.73,221,0.81,1,0.00,"27,322"
52,7th Worcester,800,2.87,"1,085",3.89,971,3.48,"1,186",4.26,"2,590",...,32.57,18,0.06,186,0.67,233,0.84,0,0.00,"27,873"
53,8th Worcester,836,2.84,"1,104",3.75,957,3.25,"1,130",3.84,"2,350",...,32.50,53,0.18,277,0.94,263,0.89,3,0.01,"29,447"
54,9th Worcester,755,2.60,"1,040",3.59,983,3.39,"1,055",3.64,"2,004",...,32.42,62,0.21,231,0.80,228,0.79,2,0.01,"28,991"
55,10th Worcester,831,3.13,"1,202",4.53,"1,039",3.92,"1,186",4.47,"2,349",...,31.51,77,0.29,183,0.69,200,0.75,0,0.00,"26,530"
56,11th Worcester,918,3.08,"1,397",4.69,992,3.33,"1,140",3.83,"3,047",...,30.33,31,0.10,180,0.60,170,0.57,0,0.00,"29,771"
57,17th Worcester,"2,198",9.10,"2,065",8.55,"1,348",5.58,"1,229",5.09,"2,412",...,25.75,353,1.46,204,0.84,171,0.71,13,0.05,"24,159"
58,18th Worcester,887,3.14,"1,044",3.69,877,3.10,"1,026",3.63,"1,941",...,32.97,44,0.16,204,0.72,243,0.86,1,0.00,"28,260"

In [62]:
cen_house

,District,Estimate; SEX AND AGE - Total population,Margin of Error; SEX AND AGE - Total population,Percent; SEX AND AGE - Total population,Percent Margin of Error; SEX AND AGE - Total population,Estimate; SEX AND AGE - Total population - Male,Margin of Error; SEX AND AGE - Total population - Male,Percent; SEX AND AGE - Total population - Male,Percent Margin of Error; SEX AND AGE - Total population - Male,Estimate; SEX AND AGE - Total population - Female,...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
0,1st Barnstable,41058,939,41058,(X),18876,705,46.0,1.1,22182,...,2422,261,1484,252,1176,200,907,172,1033,199
1,2nd Barnstable,41436,906,41436,(X),19861,618,47.9,1.1,21575,...,2131,322,1385,233,1053,172,886,196,880,160
2,3rd Barnstable,42684,1042,42684,(X),20718,719,48.5,1.1,21966,...,2948,344,2003,251,1227,222,1069,209,829,164
4,"Barnstable, Dukes & Nantucket",41287,755,41287,(X),20339,511,49.3,0.8,20948,...,2094,259,1863,281,1381,223,1081,207,1277,178
8,4th Berkshire,38323,393,38323,(X),18436,394,48.1,0.9,19887,...,2035,222,1713,218,923,149,825,127,1154,180
9,1st Bristol,39927,766,39927,(X),19582,608,49.0,1.0,20345,...,1892,283,1896,314,1271,233,1483,211,1555,209
10,2nd Bristol,39565,670,39565,(X),19225,671,48.6,1.5,20340,...,2052,357,1920,291,1045,235,1172,246,588,157
11,3rd Bristol,43129,795,43129,(X),20812,595,48.3,1.1,22317,...,2159,281,1628,273,676,127,857,185,571,152
12,4th Bristol,40765,768,40765,(X),19870,753,48.7,1.5,20895,...,2301,312,1747,344,1715,295,1573,285,1165,210
20,12th Bristol,38840,983,38840,(X),19351,705,49.8,1.2,19489,...,2474,340,1613,287,1324,256,1243,210,919,223
22,14th Bristol,40822,788,40822,(X),20227,638,49.5,1.4,20595,...,2230,309,1543,268,1371,225,1488,272,1420,205
23,1st Essex,43345,28,43345,(X),20968,456,48.4,1.1,22377,...,2525,325,1831,264,1375,215,1836,253,1777,235
24,2nd Essex,43837,573,43837,(X),21399,565,48.8,1.1,22438,...,1863,266,2209,284,1552,228,2138,317,2203,248
26,4th Essex,44556,41,44556,(X),21522,469,48.3,1.1,23034,...,2136,295,1323,237,1077,180,1938,288,3060,307
27,5th Essex,40118,39,40118,(X),18565,391,46.3,1.0,21553,...,1905,242,1748,240,1278,198,1230,183,1253,187
31,9th Essex,42569,866,42569,(X),20019,638,47.0,1.2,22550,...,2351,307,2162,335,1529,255,1740,271,1162,175
35,13th Essex,43599,853,43599,(X),22330,958,51.2,1.5,21269,...,1975,287,1747,216,1601,263,1691,244,1372,240
36,14th Essex,44390,1285,44390,(X),22431,941,50.5,1.4,21959,...,2203,310,1569,270,1129,224,1424,239,1153,202
42,1st Hampden,41164,526,41164,(X),20753,591,50.4,1.2,20411,...,2077,298,1558,247,1015,189,1128,213,882,229
44,3rd Hampden,39973,211,39973,(X),19397,487,48.5,1.2,20576,...,2191,290,1680,256,1263,224,1206,205,647,160
45,4th Hampden,41480,22,41480,(X),20181,543,48.7,1.3,21299,...,2095,316,1519,252,830,174,978,180,654,155
46,5th Hampden,40342,67,40342,(X),19574,491,48.5,1.2,20768,...,1412,263,877,210,497,134,510,139,394,133
49,8th Hampden,40633,875,40633,(X),20423,788,50.3,1.6,20210,...,2216,293,1538,298,650,156,340,113,170,84
54,18th Essex,44738,968,44738,(X),21471,658,48.0,1.1,23267,...,1445,224,1532,216,1380,169,2684,247,4124,243
55,1st Hampshire,40494,153,40494,(X),18451,462,45.6,1.1,22043,...,2396,311,1721,221,1005,173,1110,166,882,158
56,2nd Hampshire,42043,412,42043,(X),18470,491,43.9,1.1,23573,...,2601,390,1701,265,1141,181,944,178,780,195
58,1st Middlesex,42995,454,42995,(X),21068,425,49.0,0.8,21927,...,2148,247,1932,256,1601,224,1801,245,1681,210
62,5th Middlesex,44183,418,44183,(X),21386,496,48.4,1.0,22797,...,1763,273,1928,214,1567,200,2453,313,3030,276
70,13th Middlesex,42836,1057,42836,(X),21037,717,49.1,1.0,21799,...,1565,243,1294,184,1336,212,2268,260,3989,278
76,19th Middlesex,41056,937,41056,(X),20016,757,48.8,1.2,21040,...,2357,283,2054,258,1603,298,1762,303,1242,195
77,20th Middlesex,43668,840,43668,(X),21876,749,50.1,1.5,21792,...,1808,305,1897,279,1642,297,2460,304,2967,291
78,21st Middlesex,43697,749,43697,(X),21840,751,50.0,1.5,21857,...,2148,297,1968,256,1338,242,1993,294,2604,325
79,22nd Middlesex,41956,62,41956,(X),20862,499,49.7,1.2,21094,...,2088,279,2199,263,1608,250,1880,245,1075,204
95,18th Worcester,41912,678,41912,(X),20053,654,47.8,1.3,21859,...,1969,337,1667,213,1113,178,1444,259,881,162
99,3rd Norfolk,43378,1099,43378,(X),20882,907,48.1,1.4,22496,...,2511,276,2067,312,1190,216,1309,231,895,221
100,4th Norfolk,43237,750,43237,(X),20588,715,47.6,1.5,22649,...,2508,383,1798,299,1378,285,1483,231,1035,190
105,9th Norfolk,43943,858,43943,(X),23038,571,52.4,0.9,20905,...,1765,283,1612,273,1396,220,2125,289,2661,269
106,10th Norfolk,42926,335,42926,(X),20677,525,48.2,1.2,22249,...,1962,266,1699,223,1586,263,1995,306,2528,256
109,13th Norfolk,42034,375,42034,(X),20804,438,49.5,1.0,21230,...,1418,241,1513,218,1061,180,2045,293,4843,303
110,14th Norfolk,44122,278,44122,(X),19802,564,44.9,1.2,24320,...,1021,180,917,161,1135,184,1761,223,5883,280
112,1st Plymouth,42876,784,42876,(X),21237,712,49.5,1.3,21639,...,2416,286,1696,273,1444,267,1566,259,1415,215
113,2nd Plymouth,41327,700,41327,(X),20461,690,49.5,1.3,20866,...,2737,402,1568,275,1194,235,1015,199,645,180
114,3rd Plymouth,40066,582,40066,(X),19299,548,48.2,1.1,20767,...,1715,266,1498,249,1270,197,1584,252,3573,285
115,4th Plymouth,41142,376,41142,(X),19416,471,47.2,1.1,21726,...,1644,222,1866,331,1404,209,1616,202,2338,293
116,5th Plymouth,42629,46,42629,(X),21780,576,51.1,1.4,20849,...,2060,296,1795,279,1163,226,1557,261,2009,260
117,6th Plymouth,41140,456,41140,(X),20186,504,49.1,1.1,20954,...,2118,269,1861,268,1500,214,2051,257,1708,210
118,7th Plymouth,41447,310,41447,(X),18937,485,45.7,1.0,22510,...,2743,310,1961,251,1148,217,1403,214,793,167
119,8th Plymouth,40843,36,40843,(X),20827,571,51.0,1.4,20016,...,1858,286,1470,248,1352,233,1361,229,1021,227
123,12th Plymouth,42875,898,42875,(X),20433,752,47.7,1.2,22442,...,1917,329,2173,307,1376,227,1623,261,924,211
143,1st Worcester,42404,625,42404,(X),21422,509,50.5,1.2,20982,...,2020,262,1874,238,1549,232,1993,261,1686,211
147,5th Worcester,42378,801,42378,(X),21203,692,50.0,1.2,21175,...,2525,322,1885,220,1161,204,786,130,667,162
148,6th Worcester,41494,778,41494,(X),20281,663,48.9,1.2,21213,...,2115,278,1427,273,922,150,1022,186,625,153
149,7th Worcester,39218,840,39218,(X),19150,670,48.8,1.3,20068,...,2223,268,1896,229,1196,226,1178,166,719,148
150,8th Worcester,42677,35,42677,(X),20557,477,48.2,1.1,22120,...,2288,304,2175,325,1443,260,1664,236,1081,218
151,9th Worcester,42161,94,42161,(X),20468,548,48.5,1.3,21693,...,1979,250,1586,268,1389,242,1738,234,1879,221
152,10th Worcester,43091,333,43091,(X),21035,589,48.8,1.3,22056,...,1990,300,2105,284,1110,178,1750,244,1655,221
153,11th Worcester,43322,385,43322,(X),21356,493,49.3,1.1,21966,...,1868,240,1629,232,1587,239,2078,285,2496,256
159,17th Worcester,41019,1120,41019,(X),20047,888,48.9,1.5,20972,...,1870,258,1120,209,688,138,676,134,307,110

In [63]:

cen_dists = cen_house['District'].tolist()
cen_dists

['1st Barnstable',
 '2nd Barnstable',
 '3rd Barnstable',
 'Barnstable, Dukes & Nantucket',
 '4th Berkshire',
 '1st Bristol',
 '2nd Bristol',
 '3rd Bristol',
 '4th Bristol',
 '12th Bristol',
 '14th Bristol',
 '1st Essex',
 '2nd Essex',
 '4th Essex',
 '5th Essex',
 '9th Essex',
 '13th Essex',
 '14th Essex',
 '1st Hampden',
 '3rd Hampden',
 '4th Hampden',
 '5th Hampden',
 '8th Hampden',
 '18th Essex',
 '1st Hampshire',
 '2nd Hampshire',
 '1st Middlesex',
 '5th Middlesex',
 '13th Middlesex',
 '19th Middlesex',
 '20th Middlesex',
 '21st Middlesex',
 '22nd Middlesex',
 '18th Worcester',
 '3rd Norfolk',
 '4th Norfolk',
 '9th Norfolk',
 '10th Norfolk',
 '13th Norfolk',
 '14th Norfolk',
 '1st Plymouth',
 '2nd Plymouth',
 '3rd Plymouth',
 '4th Plymouth',
 '5th Plymouth',
 '6th Plymouth',
 '7th Plymouth',
 '8th Plymouth',
 '12th Plymouth',
 '1st Worcester',
 '5th Worcester',
 '6th Worcester',
 '7th Worcester',
 '8th Worcester',
 '9th Worcester',
 '10th Worcester',
 '11th Worcester',
 '17th Worcester']

In [64]:
vb_census_house = pd.concat([vb_house.set_index('District'), cen_house.set_index('District')], axis=1, join='inner')
vb_census_house

,Dem_0_of_4,Dem_0_of_4_%,Dem_1_of_4,Dem_1_of_4_%,Dem_2_of_4,Dem_2_of_4_%,Dem_3_of_4,Dem_3_of_4_%,Dem_4_of_4,Dem_4_of_4_%,...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
District,,,,,,,,,,,,,,,,,,,,,
1st Barnstable,965,2.83,"1,364",4.01,"1,130",3.32,"1,359",3.99,"3,624",10.64,...,2422,261,1484,252,1176,200,907,172,1033,199
2nd Barnstable,"1,174",3.91,"1,389",4.63,"1,082",3.60,"1,166",3.88,"2,633",8.77,...,2131,322,1385,233,1053,172,886,196,880,160
3rd Barnstable,847,2.68,"1,161",3.68,992,3.14,"1,282",4.06,"3,244",10.27,...,2948,344,2003,251,1227,222,1069,209,829,164
"Barnstable, Dukes & Nantucket",320,2.83,500,4.43,418,3.70,525,4.65,"1,692",14.97,...,2094,259,1863,281,1381,223,1081,207,1277,178
4th Berkshire,45,2.99,45,2.99,33,2.19,47,3.13,87,5.78,...,2035,222,1713,218,923,149,825,127,1154,180
1st Bristol,823,2.89,"1,181",4.15,951,3.34,"1,094",3.84,"2,365",8.31,...,1892,283,1896,314,1271,233,1483,211,1555,209
2nd Bristol,470,3.91,568,4.73,479,3.99,438,3.65,791,6.59,...,2052,357,1920,291,1045,235,1172,246,588,157
3rd Bristol,"1,559",5.79,"1,557",5.79,"1,256",4.67,"1,260",4.68,"2,477",9.20,...,2159,281,1628,273,676,127,857,185,571,152
4th Bristol,"1,083",3.65,"1,250",4.21,"1,013",3.41,"1,012",3.41,"1,640",5.52,...,2301,312,1747,344,1715,295,1573,285,1165,210
12th Bristol,"1,042",3.66,"1,153",4.06,898,3.16,"1,090",3.83,"1,761",6.19,...,2474,340,1613,287,1324,256,1243,210,919,223
14th Bristol,776,2.85,"1,105",4.06,939,3.45,972,3.57,"1,785",6.56,...,2230,309,1543,268,1371,225,1488,272,1420,205
1st Essex,970,2.93,"1,603",4.84,"1,320",3.98,"1,488",4.49,"3,524",10.63,...,2525,325,1831,264,1375,215,1836,253,1777,235
2nd Essex,614,1.84,"1,078",3.23,975,2.92,"1,214",3.64,"2,863",8.58,...,1863,266,2209,284,1552,228,2138,317,2203,248
4th Essex,651,1.94,"1,162",3.47,886,2.65,"1,247",3.72,"2,931",8.75,...,2136,295,1323,237,1077,180,1938,288,3060,307
5th Essex,867,2.91,"1,307",4.39,"1,121",3.76,"1,370",4.60,"3,306",11.10,...,1905,242,1748,240,1278,198,1230,183,1253,187
9th Essex,947,3.11,"1,437",4.72,"1,220",4.01,"1,562",5.13,"3,618",11.88,...,2351,307,2162,335,1529,255,1740,271,1162,175
13th Essex,60,1.84,86,2.63,87,2.67,139,4.26,235,7.20,...,1975,287,1747,216,1601,263,1691,244,1372,240
14th Essex,70,3.84,110,6.03,67,3.68,61,3.35,145,7.95,...,2203,310,1569,270,1129,224,1424,239,1153,202
1st Hampden,976,3.37,"1,006",3.48,"1,055",3.65,"1,233",4.26,"2,096",7.25,...,2077,298,1558,247,1015,189,1128,213,882,229
3rd Hampden,"1,201",4.18,"1,077",3.75,"1,002",3.49,"1,167",4.06,"2,325",8.09,...,2191,290,1680,256,1263,224,1206,205,647,160
4th Hampden,942,3.68,"1,155",4.52,867,3.39,998,3.90,"2,232",8.73,...,2095,316,1519,252,830,174,978,180,654,155
5th Hampden,"2,367",9.21,"2,008",7.81,"1,683",6.55,"1,802",7.01,"3,136",12.20,...,1412,263,877,210,497,134,510,139,394,133
8th Hampden,649,8.22,542,6.87,404,5.12,415,5.26,751,9.51,...,2216,293,1538,298,650,156,340,113,170,84
18th Essex,788,2.49,"1,224",3.87,"1,043",3.30,"1,301",4.11,"2,653",8.39,...,1445,224,1532,216,1380,169,2684,247,4124,243
1st Hampshire,93,1.79,175,3.37,148,2.85,236,4.54,449,8.64,...,2396,311,1721,221,1005,173,1110,166,882,158
2nd Hampshire,406,3.42,702,5.91,677,5.70,786,6.62,"1,596",13.44,...,2601,390,1701,265,1141,181,944,178,780,195
1st Middlesex,591,1.95,980,3.23,879,2.90,"1,022",3.37,"2,232",7.37,...,2148,247,1932,256,1601,224,1801,245,1681,210
5th Middlesex,350,2.10,739,4.44,591,3.55,843,5.06,"2,367",14.22,...,1763,273,1928,214,1567,200,2453,313,3030,276
13th Middlesex,203,2.70,372,4.95,274,3.65,400,5.32,989,13.16,...,1565,243,1294,184,1336,212,2268,260,3989,278
19th Middlesex,372,2.64,543,3.85,524,3.72,613,4.35,"1,313",9.31,...,2357,283,2054,258,1603,298,1762,303,1242,195
20th Middlesex,663,2.04,"1,070",3.29,"1,015",3.12,"1,263",3.88,"3,375",10.37,...,1808,305,1897,279,1642,297,2460,304,2967,291
21st Middlesex,67,2.51,102,3.83,75,2.81,88,3.30,226,8.48,...,2148,297,1968,256,1338,242,1993,294,2604,325
22nd Middlesex,891,3.15,"1,315",4.64,"1,075",3.79,"1,229",4.34,"2,643",9.33,...,2088,279,2199,263,1608,250,1880,245,1075,204
18th Worcester,887,3.14,"1,044",3.69,877,3.10,"1,026",3.63,"1,941",6.87,...,1969,337,1667,213,1113,178,1444,259,881,162
3rd Norfolk,289,2.81,449,4.37,393,3.83,532,5.18,"1,409",13.72,...,2511,276,2067,312,1190,216,1309,231,895,221
4th Norfolk,964,3.34,"1,428",4.94,"1,243",4.30,"1,410",4.88,"3,427",11.86,...,2508,383,1798,299,1378,285,1483,231,1035,190
9th Norfolk,569,1.91,951,3.19,806,2.70,"1,077",3.61,"2,403",8.05,...,1765,283,1612,273,1396,220,2125,289,2661,269
10th Norfolk,338,2.38,514,3.62,465,3.27,550,3.87,"1,159",8.16,...,1962,266,1699,223,1586,263,1995,306,2528,256
13th Norfolk,294,2.70,575,5.27,441,4.04,616,5.65,"1,669",15.30,...,1418,241,1513,218,1061,180,2045,293,4843,303
14th Norfolk,250,2.99,478,5.71,313,3.74,409,4.89,"1,154",13.79,...,1021,180,917,161,1135,184,1761,223,5883,280
1st Plymouth,765,2.50,"1,084",3.54,"1,007",3.29,"1,191",3.89,"2,747",8.97,...,2416,286,1696,273,1444,267,1566,259,1415,215
2nd Plymouth,958,3.30,"1,105",3.81,982,3.38,"1,052",3.63,"2,123",7.32,...,2737,402,1568,275,1194,235,1015,199,645,180
3rd Plymouth,843,2.66,"1,171",3.69,"1,006",3.17,"1,338",4.22,"3,508",11.07,...,1715,266,1498,249,1270,197,1584,252,3573,285
4th Plymouth,720,2.28,"1,077",3.41,944,2.99,"1,300",4.11,"3,442",10.88,...,1644,222,1866,331,1404,209,1616,202,2338,293
5th Plymouth,676,2.23,"1,033",3.41,978,3.23,"1,194",3.95,"2,842",9.39,...,2060,296,1795,279,1163,226,1557,261,2009,260
6th Plymouth,516,2.24,710,3.09,623,2.71,870,3.78,"1,958",8.52,...,2118,269,1861,268,1500,214,2051,257,1708,210
7th Plymouth,944,3.16,"1,205",4.04,"1,010",3.38,"1,228",4.11,"2,446",8.19,...,2743,310,1961,251,1148,217,1403,214,793,167
8th Plymouth,"1,038",3.69,"1,214",4.32,"1,044",3.71,"1,223",4.35,"1,830",6.51,...,1858,286,1470,248,1352,233,1361,229,1021,227
12th Plymouth,488,2.48,736,3.75,581,2.96,778,3.96,"1,739",8.85,...,1917,329,2173,307,1376,227,1623,261,924,211
1st Worcester,556,1.78,976,3.13,851,2.73,"1,056",3.38,"2,757",8.83,...,2020,262,1874,238,1549,232,1993,261,1686,211
5th Worcester,736,2.60,911,3.21,809,2.85,949,3.35,"2,176",7.67,...,2525,322,1885,220,1161,204,786,130,667,162
6th Worcester,"1,420",5.20,"1,255",4.59,"1,071",3.92,"1,139",4.17,"1,994",7.30,...,2115,278,1427,273,922,150,1022,186,625,153
7th Worcester,800,2.87,"1,085",3.89,971,3.48,"1,186",4.26,"2,590",9.29,...,2223,268,1896,229,1196,226,1178,166,719,148
8th Worcester,836,2.84,"1,104",3.75,957,3.25,"1,130",3.84,"2,350",7.98,...,2288,304,2175,325,1443,260,1664,236,1081,218
9th Worcester,755,2.60,"1,040",3.59,983,3.39,"1,055",3.64,"2,004",6.91,...,1979,250,1586,268,1389,242,1738,234,1879,221
10th Worcester,831,3.13,"1,202",4.53,"1,039",3.92,"1,186",4.47,"2,349",8.85,...,1990,300,2105,284,1110,178,1750,244,1655,221
11th Worcester,918,3.08,"1,397",4.69,992,3.33,"1,140",3.83,"3,047",10.23,...,1868,240,1629,232,1587,239,2078,285,2496,256
17th Worcester,"2,198",9.10,"2,065",8.55,"1,348",5.58,"1,229",5.09,"2,412",9.98,...,1870,258,1120,209,688,138,676,134,307,110

In [65]:
vb_census_senate.to_csv("MODEL_TWO_Census_2010-2015/Senate/VoteBuilder_and_Census_Senate.csv")
vb_census_house.to_csv("MODEL_TWO_Census_2010-2015/House/VoteBuilder_and_Census_House.csv")

In [2]:
money_senate = pd.read_csv('contribution_data_senate_districts.csv')
vb_cen_senate = pd.read_csv("VoteBuilder_and_Census_Senate.csv")
money_senate['senate_district'] = money_senate['senate_district'].apply(lambda x: x.replace('Isl&s', 'Islands') if x == "['Cape & Isl&s']" else x)
money_senate

,city_town,Amount,senate_district
0,abington,2682.65,['Norfolk & Plymouth']
1,acton,5196.62,['Middlesex & Worcester']
2,acushnet,525.00,['Second Bristol & Plymouth']
3,agawam,1478.79,['Second Hampden & Hampshire']
4,amesbury,3750.00,['First Essex']
5,amherst,5284.01,"['Hampshire, Franklin & Worcester']"
6,andover,17800.69,['Second Essex & Middlesex']
7,arlington,11449.00,['Fourth Middlesex']
8,ashburnham,600.00,"['Worcester, Hampden, Hampshire & Middlesex']"
9,ashland,2991.13,['Second Middlesex & Norfolk']
10,athol,800.00,"['Worcester, Hampden, Hampshire & Middlesex']"
11,attleboro,900.00,"['Bristol & Norfolk', 'Norfolk, Bristol & Midd..."
12,auburn,9542.68,['Second Worcester']
13,avon,1500.00,"['Norfolk, Bristol & Plymouth']"
14,barnstable,2403.11,['Cape & Islands']
15,bedford,5463.00,['Third Middlesex']
16,belchertown,1985.60,['First Hampden & Hampshire']
17,bellingham,597.72,['Worcester & Norfolk']
18,belmont,3689.20,['Second Suffolk & Middlesex']
19,bernardston,551.05,"['Hampshire, Franklin & Worcester']"
20,beverly,6789.00,['Second Essex']
21,billerica,2811.00,['Fourth Middlesex']
22,bolton,1850.00,['Worcester & Middlesex']
23,boston,243773.81,"['Middlesex & Suffolk', 'Norfolk & Suffolk', '..."
24,bourne,2075.00,['Plymouth & Barnstable']
25,boxborough,750.00,['Middlesex & Worcester']
26,boxford,1500.00,['First Essex & Middlesex']
27,boylston,750.00,['First Worcester']
28,braintree,14480.72,"['Norfolk, Bristol & Plymouth', 'Norfolk & Ply..."
29,brewster,7245.11,['Cape & Islands']
...,...,...,...
196,truro,3070.00,['Cape & Islands']
197,upton,1500.00,['Second Worcester']
198,uxbridge,1333.13,['Worcester & Norfolk']
199,wakefield,2564.81,['Fifth Middlesex']
200,wales,750.00,"['Worcester, Hampden, Hampshire & Middlesex']"
201,walpole,5107.06,['Bristol & Norfolk']
202,waltham,8885.87,['Third Middlesex']
203,wareham,2030.00,['First Plymouth & Bristol']
204,watertown,3689.29,['Second Suffolk & Middlesex']
205,wayland,7800.00,"['Norfolk, Bristol & Middlesex']"
206,webster,4700.00,['Worcester & Norfolk']
207,wellesley,7958.51,"['First Middlesex & Norfolk', 'Norfolk, Bristo..."
208,wellfleet,700.00,['Cape & Islands']
209,wenham,1500.00,['First Essex & Middlesex']
210,west newbury,750.00,['First Essex & Middlesex']
211,west springfield,5295.00,['Hampden']
212,westborough,6300.00,['Middlesex & Worcester']
213,westfield,13364.00,['Second Hampden & Hampshire']
214,westford,1250.00,['First Middlesex']
215,weston,5922.28,['Third Middlesex']
216,westport,6925.00,['First Bristol & Plymouth']
217,westwood,4500.00,['Norfolk & Suffolk']
218,weymouth,9117.32,['Plymouth & Norfolk']
219,wilbraham,6712.00,['First Hampden & Hampshire']
220,wilmington,4118.55,['First Essex & Middlesex']
221,winchester,9586.50,"['Second Middlesex', 'Fifth Middlesex']"
222,winthrop,6992.66,['First Suffolk & Middlesex']
223,woburn,8907.97,['Fourth Middlesex']
224,worcester,47091.24,"['First Worcester', 'Second Worcester']"
225,wrentham,2652.14,"['Norfolk, Bristol & Middlesex']"

In [46]:
import ast
all_senate_districts = []
for index, row in money_senate.iterrows():
    district = ast.literal_eval(row['senate_district'])
    for i in range(len(district)):
        if district[i] not in all_senate_districts:
            all_senate_districts += [district[i]]
all_senate_districts

district_dict = {}

for i in all_senate_districts:
    district_dict[i] = 0


for index, row in money_senate.iterrows():
    district = ast.literal_eval(row['senate_district'])
    if len(district) == 1:
        temp = district[0]
        amount = row['Amount']
        district_dict[temp] += amount
    else:
        num_districts = len(district)
        amount = row['Amount']
        split_amount = amount/num_districts
        for i in range(num_districts):
            temp = district[i]
            district_dict[temp] += split_amount

            
for j in district_dict:
    district_dict[j] = round(district_dict[j], 2)

    
vb_senate_districts = vb_cen_senate.District.tolist()
final_senate_contributions = []
for i in district_dict:
    final_senate_contributions += [[i, district_dict[i]]]

senate_contributions = pd.DataFrame(final_senate_contributions, columns=['Senate District', 'Amount'])

senate_contributions

                              Senate District     Amount
0                          Norfolk & Plymouth   40665.31
1                       Middlesex & Worcester  229147.35
2                   Second Bristol & Plymouth   28270.78
3                  Second Hampden & Hampshire   38736.24
4                                 First Essex   46287.73
5             Hampshire, Franklin & Worcester   27985.33
6                    Second Essex & Middlesex   38131.69
7                            Fourth Middlesex   29118.57
8   Worcester, Hampden, Hampshire & Middlesex   12953.95
9                  Second Middlesex & Norfolk   27923.46
10                          Bristol & Norfolk   16492.76
11               Norfolk, Bristol & Middlesex   22731.44
12                           Second Worcester   56064.98
13                Norfolk, Bristol & Plymouth   55501.04
14                             Cape & Islands   24297.49
15                            Third Middlesex   37199.18
16                  First Hampden & Hampshire   69021.36
17                        Worcester & Norfolk   30875.85
18                 Second Suffolk & Middlesex   48007.46
19                               Second Essex   35584.52
20                      Worcester & Middlesex    8223.99
21                        Middlesex & Suffolk   65238.56
22                          Norfolk & Suffolk   64154.47
23                              First Suffolk   40628.97
24                             Second Suffolk   40628.97
25                  First Suffolk & Middlesex   68593.71
26                      Plymouth & Barnstable   29301.07
27                    First Essex & Middlesex   38139.68
28                            First Worcester   32920.62
29                   First Plymouth & Bristol   27253.88
30                  Second Plymouth & Bristol   26129.83
31                  First Middlesex & Norfolk   39226.67
32                           Second Middlesex   51020.22
33                                    Hampden   24531.69
34                         Plymouth & Norfolk   46023.48
35                   First Bristol & Plymouth   79142.10
36   Berkshire, Hampshire, Franklin & Hampden   18295.76
37                            First Middlesex   11751.02
38                                Third Essex   54380.51
39                            Fifth Middlesex   37433.27

In [20]:
money_house = pd.read_csv('contribution_data_house_districts.csv')
# vb_cen_house = pd.read_csv("VoteBuilder_and_Census_House.csv")
money_house

,city_town,Amount,house_district
0,abington,2682.65,['7th Plymouth']
1,acton,5196.62,"['14th Middlesex', '37th Middlesex']"
2,acushnet,525.00,['11th Bristol']
3,agawam,1478.79,['3rd Hampden']
4,amesbury,3750.00,['1st Essex']
5,amherst,5284.01,['3rd Hampshire']
6,andover,17800.69,"['17th Essex', '18th Essex']"
7,arlington,11449.00,"['23rd Middlesex', '24th Middlesex']"
8,ashburnham,600.00,['2nd Worcester']
9,ashland,2991.13,['7th Middlesex']
10,athol,800.00,['2nd Franklin']
11,attleboro,900.00,"['2nd Bristol', '14th Bristol']"
12,auburn,9542.68,['7th Worcester']
13,avon,1500.00,['6th Norfolk']
14,barnstable,2403.11,"['2nd Barnstable', '5th Barnstable']"
15,bedford,5463.00,['21st Middlesex']
16,belchertown,1985.60,"['2nd Franklin', '7th Hampden']"
17,bellingham,597.72,['8th Worcester']
18,belmont,3689.20,['24th Middlesex']
19,bernardston,551.05,['2nd Berkshire']
20,beverly,6789.00,['6th Essex']
21,billerica,2811.00,['22nd Middlesex']
22,bolton,1850.00,['3rd Middlesex']
23,boston,243773.81,"['1st Suffolk', '2nd Suffolk', '3rd Suffolk', ..."
24,bourne,2075.00,"['3rd Barnstable', '5th Barnstable']"
25,boxborough,750.00,['37th Middlesex']
26,boxford,1500.00,"['2nd Essex', '18th Essex']"
27,boylston,750.00,['12th Worcester']
28,braintree,14480.72,['5th Norfolk']
29,brewster,7245.11,"['1st Barnstable', '4th Barnstable']"
...,...,...,...
196,truro,3070.00,['4th Barnstable']
197,upton,1500.00,['9th Worcester']
198,uxbridge,1333.13,['8th Worcester']
199,wakefield,2564.81,"['9th Essex', '32nd Middlesex']"
200,wales,750.00,['1st Hampden']
201,walpole,5107.06,"['8th Norfolk', '9th Norfolk', '11th Norfolk',..."
202,waltham,8885.87,"['9th Middlesex', '10th Middlesex']"
203,wareham,2030.00,['2nd Plymouth']
204,watertown,3689.29,"['10th Middlesex', '29th Middlesex']"
205,wayland,7800.00,"['13th Middlesex', '14th Norfolk']"
206,webster,4700.00,['18th Worcester']
207,wellesley,7958.51,['14th Norfolk']
208,wellfleet,700.00,['4th Barnstable']
209,wenham,1500.00,['4th Essex']
210,west newbury,750.00,['2nd Essex']
211,west springfield,5295.00,['6th Hampden']
212,westborough,6300.00,"['4th Middlesex', '8th Middlesex', '11th Worce..."
213,westfield,13364.00,['4th Hampden']
214,westford,1250.00,['1st Middlesex']
215,weston,5922.28,['14th Norfolk']
216,westport,6925.00,['8th Bristol']
217,westwood,4500.00,['11th Norfolk']
218,weymouth,9117.32,"['3rd Norfolk', '4th Norfolk']"
219,wilbraham,6712.00,['12th Hampden']
220,wilmington,4118.55,"['19th Middlesex', '21st Middlesex']"
221,winchester,9586.50,['31st Middlesex']
222,winthrop,6992.66,['19th Suffolk']
223,woburn,8907.97,"['15th Middlesex', '30th Middlesex']"
224,worcester,47091.24,"['13th Worcester', '14th Worcester', '15th Wor..."
225,wrentham,2652.14,['9th Norfolk']

In [47]:
all_house_districts = []
for index, row in money_house.iterrows():
    district = ast.literal_eval(row['house_district'])
    for i in range(len(district)):
        if district[i] not in all_house_districts:
            all_house_districts += [district[i]]


house_district_dict = {}

for i in all_house_districts:
    house_district_dict[i] = 0

    
    
for index, row in money_house.iterrows():
    district = ast.literal_eval(row['house_district'])
    if len(district) == 1:
        temp = district[0]
        amount = row['Amount']
        house_district_dict[temp] += amount
    else:
        num_districts = len(district)
        amount = row['Amount']
        split_amount = amount/num_districts
        for i in range(num_districts):
            temp = district[i]
            house_district_dict[temp] += split_amount

            
for j in house_district_dict:
    house_district_dict[j] = round(house_district_dict[j], 2)
    if j == 'Barnstable, Dukes and Nantucket':
        house_district_dict['Barnstable, Dukes & Nantucket'] = house_district_dict.pop(j)

# vb_house_districts = vb_cen_house.District.tolist()
# for j in range(len(vb_house_districts)):
#     splitter = vb_house_districts[j].split(' District')
#     vb_house_districts[j] = splitter[0]
final_house_contributions = []
for i in house_district_dict:
#     if i in vb_house_districts:
    final_house_contributions += [[i, house_district_dict[i]]]

house_contributions = pd.DataFrame(final_house_contributions, columns=['House District', 'Amount'])

house_contributions

                    House District    Amount
0                     7th Plymouth   3732.65
1                   14th Middlesex   9320.96
2                   37th Middlesex   4825.88
3                     11th Bristol   3946.16
4                      3rd Hampden   8378.79
5                        1st Essex  24273.02
6                    3rd Hampshire   5984.01
7                       17th Essex  16979.98
8                       18th Essex  13836.17
9                   23rd Middlesex  13096.18
10                  24th Middlesex  17151.95
11                   2nd Worcester   1319.89
12                   7th Middlesex   8364.53
13                    2nd Franklin   5693.10
14                     2nd Bristol    450.00
15                    14th Bristol    450.00
16                   7th Worcester  16566.09
17                     6th Norfolk  20593.73
18                  2nd Barnstable   1201.56
19                  5th Barnstable   7549.23
20                  21st Middlesex   9571.27
21                     7th Hampden  23073.39
22                   8th Worcester   1930.85
23                   2nd Berkshire   7508.49
24                       6th Essex   6789.00
25                  22nd Middlesex   2811.00
26                   3rd Middlesex   3490.00
27                     1st Suffolk  14339.64
28                     2nd Suffolk  16495.89
29                     3rd Suffolk  14339.64
..                             ...       ...
129                 10th Middlesex  14434.13
130                 11th Middlesex   8146.55
131                 12th Middlesex   8146.55
132                  1st Hampshire   6986.50
133                    4th Bristol   8025.35
134                   12th Norfolk   4279.77
135                     12th Essex   3576.27
136                  3rd Berkshire   6207.44
137                   1st Plymouth   2499.18
138                    1st Norfolk   7422.28
139                    2nd Norfolk   6741.62
140                 30th Middlesex   5728.98
141                   19th Suffolk  11030.16
142                      7th Essex  11362.50
143                    8th Norfolk  10172.22
144                 11th Worcester  12196.77
145                 27th Middlesex   3738.28
146                   10th Hampden   5828.90
147                   11th Hampden   5828.90
148                 31st Middlesex  12136.36
149                    1st Hampden   1550.00
150                 19th Middlesex   3684.28
151                   14th Norfolk  17780.79
152                    4th Hampden  13364.00
153                    4th Norfolk   4558.66
154                 13th Worcester   9418.25
155                 14th Worcester   9418.25
156                 15th Worcester   9418.25
157                 16th Worcester   9418.25
158  Barnstable, Dukes & Nantucket   7270.54

[159 rows x 2 columns]

In [111]:

# top_header = []
# layer_two_header = []
# columns = []
# with open('VoteBuilder_Senate_csv.csv', 'r') as f:
#     data = f.readlines()
#     count = 0
#     for line in data:
        
#         splitter = line.split(',')
#         for i in range(len(splitter)):
#             print(splitter[i])
# #             if count == 0:
# #                 top_header += [splitter[2]]
# #                 break
# #             if count == 1 and splitter[i] != '':
# #                 if i != len(splitter)-1:
# #                     layer_two_header += [splitter[i]]
# #             if count == 2:
# #                 if i != 0:
# #                     if i != 1:
# #                         if i != len(splitter) - 1:
# #                             columns += [splitter[i]]
#         count+=1
#         if count > 2:
#             break


# temp_cols = []
# for h in range(len(layer_two_header)):
#     label = layer_two_header[h]
#     for k in range(3):
#         temp_cols += [label]
# final_cols = [top_header[0]+' '+temp_cols[i]+' '+columns[i] for i in range(len(temp_cols))]

# print(len(final_cols))

In [112]:
# df = pd.read_csv('onlydata.csv', header=None)

# real_cols = ['House District']
# real_cols+= final_cols
# real_cols+= ['Total']
# df.columns = real_cols
# df