In [1]:
import pandas as pd

In [99]:
ocpf_df = pd.read_csv('datasets/ocpf-output.csv')
ocpf_df = ocpf_df[ocpf_df.State.isin(['MA'])][['Date', 'City', 'Amount']]
ocpf_df['Amount'] = ocpf_df['Amount'].replace('[\$]','', regex=True).astype(float)

ocpf_df = ocpf_df.groupby(['City'])['Amount'].apply(sum).reset_index()

# ocpf_df.to_csv("ocpf_summaries.csv")

ocpf_df['City'] = ocpf_df['City'].map(lambda x: str(x).lower())
print(ocpf_df)

                 City    Amount
0             1/30/16    620.00
1             amherst    989.08
2             andover    750.00
3            abington   2682.65
4               acton   5196.62
5            acushnet    525.00
6              agawam   1478.79
7             allston   4500.00
8            amesbury   3750.00
9             amherst   4294.93
10            andover  17050.69
11          arlington  11449.00
12         ashburnham    600.00
13            ashland   2991.13
14              athol    800.00
15          attleboro    900.00
16             auburn   9542.68
17         auburndale   3695.31
18               avon   1500.00
19             boston   2217.00
20           boylston    750.00
21         barnstable   2403.11
22         barrington    750.00
23            bedford   5463.00
24        belchertown   1985.60
25         bellingham    597.72
26            belmont   3689.20
27        bernardston    551.05
28            beverly   6789.00
29      beverly farms    750.00
..                ...       ...
304   wellesley hills    600.00
305         wellfleet    700.00
306            wenham    750.00
307          wesfield    600.00
308   west barnstable   3800.00
309       west dennis    614.98
310     west falmouth    750.00
311      west newbury    750.00
312       west newton   2250.00
313      west roxbury   6847.84
314   west somerville    900.00
315  west springfield   5295.00
316     west yarmouth    800.00
317       westborough   6300.00
318         westfield  13364.00
319          westford   1250.00
320            weston   5922.28
321          westport   6925.00
322          westwood   4500.00
323          weymouth   9117.32
324      whitinsville   1800.00
325         wilbraham   6712.00
326        wilmington   4118.55
327        winchester   9586.50
328          winthrop   6392.66
329            woburn   8907.97
330         worcester  46341.24
331          wrentham   2652.14
332     yarmouth port   1282.00
333        bass river    850.00

[334 rows x 2 columns]

In [100]:
#################### 
# Senate districts #
####################


senate_df = pd.read_csv("senate_districts_mapped_final.csv", names=['city_town', 'senate_district', 'n/a'], header=None)[['city_town', 'senate_district']]

senate_df['city_town'] = senate_df['city_town'].apply(lambda x: str(x).split(" -")[0]).map(lambda x: x.lower())
senate_df['city_town'] = senate_df['city_town'].replace('[\:]','', regex=True).str.strip()

print(senate_df)

            city_town                              senate_district
0               adams     Berkshire, Hampshire, Franklin & Hampden
1              alford     Berkshire, Hampshire, Franklin & Hampden
2              becket     Berkshire, Hampshire, Franklin & Hampden
3            cheshire     Berkshire, Hampshire, Franklin & Hampden
4          clarksburg     Berkshire, Hampshire, Franklin & Hampden
5              dalton     Berkshire, Hampshire, Franklin & Hampden
6            egremont     Berkshire, Hampshire, Franklin & Hampden
7             florida     Berkshire, Hampshire, Franklin & Hampden
8    great barrington     Berkshire, Hampshire, Franklin & Hampden
9             hancock     Berkshire, Hampshire, Franklin & Hampden
10           hinsdale     Berkshire, Hampshire, Franklin & Hampden
11       lanesborough     Berkshire, Hampshire, Franklin & Hampden
12                lee     Berkshire, Hampshire, Franklin & Hampden
13              lenox     Berkshire, Hampshire, Franklin & Hampden
14           monterey     Berkshire, Hampshire, Franklin & Hampden
15   mount washington     Berkshire, Hampshire, Franklin & Hampden
16        new ashford     Berkshire, Hampshire, Franklin & Hampden
17    new marlborough     Berkshire, Hampshire, Franklin & Hampden
18        north adams     Berkshire, Hampshire, Franklin & Hampden
19               otis     Berkshire, Hampshire, Franklin & Hampden
20               peru     Berkshire, Hampshire, Franklin & Hampden
21         pittsfield     Berkshire, Hampshire, Franklin & Hampden
22           richmond     Berkshire, Hampshire, Franklin & Hampden
23        sandisfield     Berkshire, Hampshire, Franklin & Hampden
24              savoy     Berkshire, Hampshire, Franklin & Hampden
25          sheffield     Berkshire, Hampshire, Franklin & Hampden
26        stockbridge     Berkshire, Hampshire, Franklin & Hampden
27          tyringham     Berkshire, Hampshire, Franklin & Hampden
28         washington     Berkshire, Hampshire, Franklin & Hampden
29   west stockbridge     Berkshire, Hampshire, Franklin & Hampden
..                ...                                          ...
352            monson  Worcester, Hampden, Hampshire and Middlesex
353            palmer  Worcester, Hampden, Hampshire and Middlesex
354             wales  Worcester, Hampden, Hampshire and Middlesex
355              ware  Worcester, Hampden, Hampshire and Middlesex
356             ashby  Worcester, Hampden, Hampshire and Middlesex
357         fitchburg                      Worcester and Middlesex
358           gardner                      Worcester and Middlesex
359        leominster                      Worcester and Middlesex
360            berlin                      Worcester and Middlesex
361            bolton                      Worcester and Middlesex
362           clinton                      Worcester and Middlesex
363         lancaster                      Worcester and Middlesex
364         lunenburg                      Worcester and Middlesex
365          sterling                      Worcester and Middlesex
366       westminster                      Worcester and Middlesex
367          townsend                      Worcester and Middlesex
368        blackstone                        Worcester and Norfolk
369           douglas                        Worcester and Norfolk
370            dudley                        Worcester and Norfolk
371          hopedale                        Worcester and Norfolk
372            mendon                        Worcester and Norfolk
373           milford                        Worcester and Norfolk
374         millville                        Worcester and Norfolk
375       northbridge                        Worcester and Norfolk
376            oxford                        Worcester and Norfolk
377       southbridge                        Worcester and Norfolk
378            sutton                        Worcester and Norfolk
379          uxbridge                        Worcester and Norfolk
380           webster                        Worcester and Norfolk
381        bellingham                        Worcester and Norfolk

[382 rows x 2 columns]

In [101]:
senate_df = senate_df.groupby(['city_town'])['senate_district'].apply(list).reset_index()
print(senate_df)
ocpf_df = ocpf_df.groupby(['City'])['Amount'].apply(sum).reset_index()
print(ocpf_df)

            city_town                                    senate_district
0            abington                             [Norfolk and Plymouth]
1               acton                          [Middlesex and Worcester]
2            acushnet                      [Second Bristol and Plymouth]
3               adams         [Berkshire, Hampshire, Franklin & Hampden]
4              agawam                     [Second Hampden and Hampshire]
5              alford         [Berkshire, Hampshire, Franklin & Hampden]
6            amesbury                                      [First Essex]
7             amherst                [Hampshire, Franklin and Worcester]
8             andover                       [Second Essex and Middlesex]
9            aquinnah                                 [Cape and Islands]
10          arlington                                 [Fourth Middlesex]
11         ashburnham      [Worcester, Hampden, Hampshire and Middlesex]
12              ashby      [Worcester, Hampden, Hampshire and Middlesex]
13           ashfield         [Berkshire, Hampshire, Franklin & Hampden]
14            ashland                     [Second Middlesex and Norfolk]
15              athol      [Worcester, Hampden, Hampshire and Middlesex]
16          attleboro  [Bristol and Norfolk, Norfolk, Bristol and Mid...
17             auburn                                 [Second Worcester]
18               avon                    [Norfolk, Bristol and Plymouth]
19               ayer                          [Middlesex and Worcester]
20         barnstable                                 [Cape and Islands]
21              barre      [Worcester, Hampden, Hampshire and Middlesex]
22             becket         [Berkshire, Hampshire, Franklin & Hampden]
23            bedford                                  [Third Middlesex]
24        belchertown                      [First Hampden and Hampshire]
25         bellingham                            [Worcester and Norfolk]
26            belmont                     [Second Suffolk and Middlesex]
27            berkley                       [First Plymouth and Bristol]
28             berlin                          [Worcester and Middlesex]
29        bernardston                [Hampshire, Franklin and Worcester]
..                ...                                                ...
325  west bridgewater                    [Norfolk, Bristol and Plymouth]
326   west brookfield      [Worcester, Hampden, Hampshire and Middlesex]
327      west newbury                        [First Essex and Middlesex]
328  west springfield                                          [Hampden]
329  west stockbridge         [Berkshire, Hampshire, Franklin & Hampden]
330      west tisbury                                 [Cape and Islands]
331       westborough                          [Middlesex and Worcester]
332         westfield                     [Second Hampden and Hampshire]
333          westford                                  [First Middlesex]
334       westhampton         [Berkshire, Hampshire, Franklin & Hampden]
335       westminster                          [Worcester and Middlesex]
336            weston                                  [Third Middlesex]
337          westport                       [First Bristol and Plymouth]
338          westwood                              [Norfolk and Suffolk]
339          weymouth                             [Plymouth and Norfolk]
340           whately                [Hampshire, Franklin and Worcester]
341           whitman                      [Second Plymouth and Bristol]
342         wilbraham                      [First Hampden and Hampshire]
343      williamsburg         [Berkshire, Hampshire, Franklin & Hampden]
344      williamstown         [Berkshire, Hampshire, Franklin & Hampden]
345        wilmington                        [First Essex and Middlesex]
346        winchendon      [Worcester, Hampden, Hampshire and Middlesex]
347        winchester                [Second Middlesex, Fifth Middlesex]
348           windsor         [Berkshire, Hampshire, Franklin & Hampden]
349          winthrop                      [First Suffolk and Middlesex]
350            woburn                                 [Fourth Middlesex]
351         worcester                [First Worcester, Second Worcester]
352       worthington         [Berkshire, Hampshire, Franklin & Hampden]
353          wrentham                   [Norfolk, Bristol and Middlesex]
354          yarmouth                                 [Cape and Islands]

[355 rows x 2 columns]
                 City    Amount
0             1/30/16    620.00
1            abington   2682.65
2               acton   5196.62
3            acushnet    525.00
4              agawam   1478.79
5             allston   4500.00
6            amesbury   3750.00
7             amherst   5284.01
8             andover  17800.69
9           arlington  11449.00
10         ashburnham    600.00
11            ashland   2991.13
12              athol    800.00
13          attleboro    900.00
14             auburn   9542.68
15         auburndale   3695.31
16               avon   1500.00
17         barnstable   2403.11
18         barrington    750.00
19         bass river    850.00
20            bedford   5463.00
21        belchertown   1985.60
22         bellingham    597.72
23            belmont   3689.20
24        bernardston    551.05
25            beverly   6789.00
26      beverly farms    750.00
27          billerica   2811.00
28             bolton   1850.00
29                bos    588.80
..                ...       ...
278   wellesley hills    600.00
279     wellesley hls    750.00
280         wellfleet    700.00
281            wenham   1500.00
282          wesfield    600.00
283   west barnstable   3800.00
284       west dennis    614.98
285     west falmouth    750.00
286      west newbury    750.00
287       west newton   2250.00
288      west roxbury   7597.84
289   west somerville    900.00
290  west springfield   5295.00
291     west yarmouth    800.00
292       westborough   6300.00
293         westfield  13364.00
294          westford   1250.00
295            weston   5922.28
296          westport   6925.00
297          westwood   4500.00
298          weymouth   9117.32
299      whitinsville   1800.00
300         wilbraham   6712.00
301        wilmington   4118.55
302        winchester   9586.50
303          winthrop   6992.66
304            woburn   8907.97
305         worcester  47091.24
306          wrentham   2652.14
307     yarmouth port   1282.00

[308 rows x 2 columns]

In [110]:

senate_ocpf = pd.concat([ocpf_df.set_index('City'), senate_df.set_index('city_town')], axis=1, join='inner')
senate_ocpf.index.name = 'city_town'
print(senate_ocpf)
senate_ocpf.to_csv("contribution_data_senate_districts.csv")

                     Amount                                    senate_district
city_town
abington            2682.65                             [Norfolk and Plymouth]
acton               5196.62                          [Middlesex and Worcester]
acushnet             525.00                      [Second Bristol and Plymouth]
agawam              1478.79                     [Second Hampden and Hampshire]
amesbury            3750.00                                      [First Essex]
amherst             5284.01                [Hampshire, Franklin and Worcester]
andover            17800.69                       [Second Essex and Middlesex]
arlington          11449.00                                 [Fourth Middlesex]
ashburnham           600.00      [Worcester, Hampden, Hampshire and Middlesex]
ashland             2991.13                     [Second Middlesex and Norfolk]
athol                800.00      [Worcester, Hampden, Hampshire and Middlesex]
attleboro            900.00  [Bristol and Norfolk, Norfolk, Bristol and Mid...
auburn              9542.68                                 [Second Worcester]
avon                1500.00                    [Norfolk, Bristol and Plymouth]
barnstable          2403.11                                 [Cape and Islands]
bedford             5463.00                                  [Third Middlesex]
belchertown         1985.60                      [First Hampden and Hampshire]
bellingham           597.72                            [Worcester and Norfolk]
belmont             3689.20                     [Second Suffolk and Middlesex]
bernardston          551.05                [Hampshire, Franklin and Worcester]
beverly             6789.00                                     [Second Essex]
billerica           2811.00                                 [Fourth Middlesex]
bolton              1850.00                          [Worcester and Middlesex]
boston            243773.81  [Middlesex and Suffolk, Norfolk and Suffolk, F...
bourne              2075.00                          [Plymouth and Barnstable]
boxborough           750.00                          [Middlesex and Worcester]
boxford             1500.00                        [First Essex and Middlesex]
boylston             750.00                                  [First Worcester]
braintree          14480.72  [Norfolk, Bristol and Plymouth, Norfolk and Pl...
brewster            7245.11                                 [Cape and Islands]
...                     ...                                                ...
truro               3070.00                                 [Cape and Islands]
upton               1500.00                                 [Second Worcester]
uxbridge            1333.13                            [Worcester and Norfolk]
wakefield           2564.81                                  [Fifth Middlesex]
wales                750.00      [Worcester, Hampden, Hampshire and Middlesex]
walpole             5107.06                              [Bristol and Norfolk]
waltham             8885.87                                  [Third Middlesex]
wareham             2030.00                       [First Plymouth and Bristol]
watertown           3689.29                     [Second Suffolk and Middlesex]
wayland             7800.00                   [Norfolk, Bristol and Middlesex]
webster             4700.00                            [Worcester and Norfolk]
wellesley           7958.51  [First Middlesex and Norfolk, Norfolk, Bristol...
wellfleet            700.00                                 [Cape and Islands]
wenham              1500.00                        [First Essex and Middlesex]
west newbury         750.00                        [First Essex and Middlesex]
west springfield    5295.00                                          [Hampden]
westborough         6300.00                          [Middlesex and Worcester]
westfield          13364.00                     [Second Hampden and Hampshire]
westford            1250.00                                  [First Middlesex]
weston              5922.28                                  [Third Middlesex]
westport            6925.00                       [First Bristol and Plymouth]
westwood            4500.00                              [Norfolk and Suffolk]
weymouth            9117.32                             [Plymouth and Norfolk]
wilbraham           6712.00                      [First Hampden and Hampshire]
wilmington          4118.55                        [First Essex and Middlesex]
winchester          9586.50                [Second Middlesex, Fifth Middlesex]
winthrop            6992.66                      [First Suffolk and Middlesex]
woburn              8907.97                                 [Fourth Middlesex]
worcester          47091.24                [First Worcester, Second Worcester]
wrentham            2652.14                   [Norfolk, Bristol and Middlesex]

[226 rows x 2 columns]

In [119]:
#################### 
# House districts #
####################

house_df = pd.read_csv("house_districts_mapped_final.csv", names=['city_town', 'house_district', 'n/a'], header=None)[['city_town', 'house_district']]

house_df['city_town'] = house_df['city_town'].apply(lambda x: str(x).split(" -")[0]).apply(lambda x: str(x).split(" (")[0]).map(lambda x: x.lower())
house_df['city_town'] = house_df['city_town'].replace('[\:]','', regex=True).str.strip()

print(house_df)

         city_town                   house_district
0         brewster                 First Barnstable
1           dennis                 First Barnstable
2         yarmouth                 First Barnstable
3       barnstable                Second Barnstable
4         yarmouth                Second Barnstable
5           bourne                 Third Barnstable
6         falmouth                 Third Barnstable
7          mashpee                 Third Barnstable
8         brewster                Fourth Barnstable
9          chatham                Fourth Barnstable
10         eastham                Fourth Barnstable
11         harwich                Fourth Barnstable
12         orleans                Fourth Barnstable
13    provincetown                Fourth Barnstable
14           truro                Fourth Barnstable
15       wellfleet                Fourth Barnstable
16      barnstable                 Fifth Barnstable
17          bourne                 Fifth Barnstable
18        sandwich                 Fifth Barnstable
19        plymouth                 Fifth Barnstable
20        aquinnah  Barnstable, Dukes and Nantucket
21        chilmark  Barnstable, Dukes and Nantucket
22       edgartown  Barnstable, Dukes and Nantucket
23        falmouth  Barnstable, Dukes and Nantucket
24         gosnold  Barnstable, Dukes and Nantucket
25       nantucket  Barnstable, Dukes and Nantucket
26      oak bluffs  Barnstable, Dukes and Nantucket
27         tisbury  Barnstable, Dukes and Nantucket
28    west tisbury  Barnstable, Dukes and Nantucket
29           adams                  First Berkshire
..             ...                              ...
462     bellingham                 Eighth Worcester
463     blackstone                 Eighth Worcester
464      millville                 Eighth Worcester
465       uxbridge                 Eighth Worcester
466        grafton                  Ninth Worcester
467    northbridge                  Ninth Worcester
468          upton                  Ninth Worcester
469         medway                  Tenth Worcester
470       hopedale                  Tenth Worcester
471         mendon                  Tenth Worcester
472        milford                  Tenth Worcester
473     shrewsbury               Eleventh Worcester
474    westborough               Eleventh Worcester
475         berlin                Twelfth Worcester
476       boylston                Twelfth Worcester
477        clinton                Twelfth Worcester
478      lancaster                Twelfth Worcester
479   northborough                Twelfth Worcester
480       sterling                Twelfth Worcester
481      worcester             Thirteenth Worcester
482  west boylston             Fourteenth Worcester
483      worcester             Fourteenth Worcester
484      worcester              Fifteenth Worcester
485      worcester              Sixteenth Worcester
486      leicester            Seventeenth Worcester
487      worcester            Seventeenth Worcester
488        douglas             Eighteenth Worcester
489         oxford             Eighteenth Worcester
490         sutton             Eighteenth Worcester
491        webster             Eighteenth Worcester

[492 rows x 2 columns]

In [120]:
house_df = house_df.groupby(['city_town'])['house_district'].apply(list).reset_index()
print(house_df)

            city_town                                     house_district
0            abington                                 [Seventh Plymouth]
1               acton   [Fourteenth Middlesex, Thirty-Seventh Middlesex]
2            acushnet                                 [Eleventh Bristol]
3               adams                                  [First Berkshire]
4              agawam                                    [Third Hampden]
5              alford                                 [Fourth Berkshire]
6            amesbury                                      [First Essex]
7             amherst                                  [Third Hampshire]
8             andover              [Seventeenth Essex, Eighteenth Essex]
9            aquinnah                  [Barnstable, Dukes and Nantucket]
10          arlington  [Twenty-Third Middlesex, Twenty-Fourth Middlesex]
11         ashburnham                                 [Second Worcester]
12              ashby                                  [First Middlesex]
13           ashfield                                   [First Franklin]
14            ashland                                [Seventh Middlesex]
15              athol                                  [Second Franklin]
16          attleboro               [Second Bristol, Fourteenth Bristol]
17             auburn                                [Seventh Worcester]
18               avon                                    [Sixth Norfolk]
19               ayer        [First Middlesex, Thirty-Seventh Middlesex]
20         barnstable              [Second Barnstable, Fifth Barnstable]
21              barre                                  [Fifth Worcester]
22             becket                                 [Fourth Berkshire]
23            bedford                           [Twenty-First Middlesex]
24        belchertown                 [Second Franklin, Seventh Hampden]
25         bellingham                                 [Eighth Worcester]
26            belmont                          [Twenty-Fourth Middlesex]
27            berkley                                  [Twelfth Bristol]
28             berlin                                [Twelfth Worcester]
29        bernardston                                 [Second Berkshire]
..                ...                                                ...
327  west bridgewater                                   [Tenth Plymouth]
328   west brookfield                                  [Fifth Worcester]
329      west newbury                                     [Second Essex]
330  west springfield                                    [Sixth Hampden]
331  west stockbridge                                 [Fourth Berkshire]
332      west tisbury                  [Barnstable, Dukes and Nantucket]
333       westborough  [Fourth Middlesex, Eighth Middlesex, Eleventh ...
334         westfield                                   [Fourth Hampden]
335          westford                                  [First Middlesex]
336       westhampton                                  [First Hampshire]
337       westminster                [First Worcester, Second Worcester]
338            weston                               [Fourteenth Norfolk]
339          westport                                    [Eigth Bristol]
340          westwood                                 [Eleventh Norfolk]
341          weymouth                    [Third Norfolk, Fourth Norfolk]
342           whately                                   [First Franklin]
343           whitman                                 [Seventh Plymouth]
344         wilbraham                                  [Twelfth Hampden]
345      williamsburg                                   [First Franklin]
346      williamstown                                  [First Berkshire]
347        wilmington     [Nineteenth Middlesex, Twenty-First Middlesex]
348        winchendon                                 [Second Worcester]
349        winchester                           [Thirty-First Middlesex]
350           windsor                                 [Second Berkshire]
351          winthrop                                [Ninteenth Suffolk]
352            woburn         [Fifteenth Middlesex, Thirtieth Middlesex]
353         worcester  [Thirteenth Worcester, Fourteenth Worcester, F...
354       worthington                                   [First Franklin]
355          wrentham                                    [Ninth Norfolk]
356          yarmouth              [First Barnstable, Second Barnstable]

[357 rows x 2 columns]

In [121]:
house_ocpf = pd.concat([ocpf_df.set_index('City'), house_df.set_index('city_town')], axis=1, join='inner')
house_ocpf.index.name = 'city_town'
print(house_ocpf)
house_ocpf.to_csv("contribution_data_house_districts.csv")

                     Amount                                     house_district
city_town
abington            2682.65                                 [Seventh Plymouth]
acton               5196.62   [Fourteenth Middlesex, Thirty-Seventh Middlesex]
acushnet             525.00                                 [Eleventh Bristol]
agawam              1478.79                                    [Third Hampden]
amesbury            3750.00                                      [First Essex]
amherst             5284.01                                  [Third Hampshire]
andover            17800.69              [Seventeenth Essex, Eighteenth Essex]
arlington          11449.00  [Twenty-Third Middlesex, Twenty-Fourth Middlesex]
ashburnham           600.00                                 [Second Worcester]
ashland             2991.13                                [Seventh Middlesex]
athol                800.00                                  [Second Franklin]
attleboro            900.00               [Second Bristol, Fourteenth Bristol]
auburn              9542.68                                [Seventh Worcester]
avon                1500.00                                    [Sixth Norfolk]
barnstable          2403.11              [Second Barnstable, Fifth Barnstable]
bedford             5463.00                           [Twenty-First Middlesex]
belchertown         1985.60                 [Second Franklin, Seventh Hampden]
bellingham           597.72                                 [Eighth Worcester]
belmont             3689.20                          [Twenty-Fourth Middlesex]
bernardston          551.05                                 [Second Berkshire]
beverly             6789.00                                      [Sixth Essex]
billerica           2811.00                          [Twenty-Second Middlesex]
bolton              1850.00                                  [Third Middlesex]
boston            243773.81  [First Suffolk, Second Suffolk, Third Suffolk,...
bourne              2075.00               [Third Barnstable, Fifth Barnstable]
boxborough           750.00                         [Thirty-Seventh Middlesex]
boxford             1500.00                   [Second Essex, Eighteenth Essex]
boylston             750.00                                [Twelfth Worcester]
braintree          14480.72                                    [Fifth Norfolk]
brewster            7245.11              [First Barnstable, Fourth Barnstable]
...                     ...                                                ...
truro               3070.00                                [Fourth Barnstable]
upton               1500.00                                  [Ninth Worcester]
uxbridge            1333.13                                 [Eighth Worcester]
wakefield           2564.81             [Ninth Essex, Thirty-Second Middlesex]
wales                750.00                                    [First Hampden]
walpole             5107.06  [Eighth Norfolk, Ninth Norfolk, Eleventh Norfo...
waltham             8885.87                 [Ninth Middlesex, Tenth Middlesex]
wareham             2030.00                                  [Second Plymouth]
watertown           3689.29          [Tenth Middlesex, Twenty-Ninth Middlesex]
wayland             7800.00         [Thirteenth Middlesex, Fourteenth Norfolk]
webster             4700.00                             [Eighteenth Worcester]
wellesley           7958.51                               [Fourteenth Norfolk]
wellfleet            700.00                                [Fourth Barnstable]
wenham              1500.00                                     [Fourth Essex]
west newbury         750.00                                     [Second Essex]
west springfield    5295.00                                    [Sixth Hampden]
westborough         6300.00  [Fourth Middlesex, Eighth Middlesex, Eleventh ...
westfield          13364.00                                   [Fourth Hampden]
westford            1250.00                                  [First Middlesex]
weston              5922.28                               [Fourteenth Norfolk]
westport            6925.00                                    [Eigth Bristol]
westwood            4500.00                                 [Eleventh Norfolk]
weymouth            9117.32                    [Third Norfolk, Fourth Norfolk]
wilbraham           6712.00                                  [Twelfth Hampden]
wilmington          4118.55     [Nineteenth Middlesex, Twenty-First Middlesex]
winchester          9586.50                           [Thirty-First Middlesex]
winthrop            6992.66                                [Ninteenth Suffolk]
woburn              8907.97         [Fifteenth Middlesex, Thirtieth Middlesex]
worcester          47091.24  [Thirteenth Worcester, Fourteenth Worcester, F...
wrentham            2652.14                                    [Ninth Norfolk]

[226 rows x 2 columns]

In [123]:
senate_df.to_csv("senate_districts_mapped_to_lists.csv")
house_df.to_csv("house_districts_mapped_to_lists.csv")