In [37]:
import pandas as pd
import math

In [38]:
ocpf_df = pd.read_csv('../original_data/ocpf-output.csv')
ocpf_df = ocpf_df[ocpf_df.State.isin(['MA'])][['Date', 'City', 'Amount']]
ocpf_df['Amount'] = ocpf_df['Amount'].replace('[\$]','', regex=True).astype(float)

ocpf_df = ocpf_df.groupby(['City'])['Amount'].apply(sum).reset_index()

# ocpf_df.to_csv("ocpf_summaries.csv")

ocpf_df['City'] = ocpf_df['City'].map(lambda x: str(x).lower())
print(ocpf_df)

                 City    Amount
0             1/30/16    620.00
1             amherst    989.08
2             andover    750.00
3            abington   2682.65
4               acton   5196.62
5            acushnet    525.00
6              agawam   1478.79
7             allston   4500.00
8            amesbury   3750.00
9             amherst   4294.93
10            andover  17050.69
11          arlington  11449.00
12         ashburnham    600.00
13            ashland   2991.13
14              athol    800.00
15          attleboro    900.00
16             auburn   9542.68
17         auburndale   3695.31
18               avon   1500.00
19             boston   2217.00
20           boylston    750.00
21         barnstable   2403.11
22         barrington    750.00
23            bedford   5463.00
24        belchertown   1985.60
25         bellingham    597.72
26            belmont   3689.20
27        bernardston    551.05
28            beverly   6789.00
29      beverly farms    750.00
..                ...       ...
304   wellesley hills    600.00
305         wellfleet    700.00
306            wenham    750.00
307          wesfield    600.00
308   west barnstable   3800.00
309       west dennis    614.98
310     west falmouth    750.00
311      west newbury    750.00
312       west newton   2250.00
313      west roxbury   6847.84
314   west somerville    900.00
315  west springfield   5295.00
316     west yarmouth    800.00
317       westborough   6300.00
318         westfield  13364.00
319          westford   1250.00
320            weston   5922.28
321          westport   6925.00
322          westwood   4500.00
323          weymouth   9117.32
324      whitinsville   1800.00
325         wilbraham   6712.00
326        wilmington   4118.55
327        winchester   9586.50
328          winthrop   6392.66
329            woburn   8907.97
330         worcester  46341.24
331          wrentham   2652.14
332     yarmouth port   1282.00
333        bass river    850.00

[334 rows x 2 columns]

In [39]:
#################### 
# Senate districts #
####################


senate_df = pd.read_csv("../cleaned_data/senate_districts_mapped_final.csv", names=['city_town', 'senate_district', 'n/a'], header=None)[['city_town', 'senate_district']]

senate_df['city_town'] = senate_df['city_town'].apply(lambda x: str(x).split(" -")[0]).map(lambda x: x.lower())
senate_df['city_town'] = senate_df['city_town'].replace('[\:]','', regex=True).str.strip()
senate_df['senate_district'] = senate_df['senate_district'].replace('(and)','&', regex=True)

print(senate_df)

            city_town                            senate_district
0               adams   Berkshire, Hampshire, Franklin & Hampden
1              alford   Berkshire, Hampshire, Franklin & Hampden
2              becket   Berkshire, Hampshire, Franklin & Hampden
3            cheshire   Berkshire, Hampshire, Franklin & Hampden
4          clarksburg   Berkshire, Hampshire, Franklin & Hampden
5              dalton   Berkshire, Hampshire, Franklin & Hampden
6            egremont   Berkshire, Hampshire, Franklin & Hampden
7             florida   Berkshire, Hampshire, Franklin & Hampden
8    great barrington   Berkshire, Hampshire, Franklin & Hampden
9             hancock   Berkshire, Hampshire, Franklin & Hampden
10           hinsdale   Berkshire, Hampshire, Franklin & Hampden
11       lanesborough   Berkshire, Hampshire, Franklin & Hampden
12                lee   Berkshire, Hampshire, Franklin & Hampden
13              lenox   Berkshire, Hampshire, Franklin & Hampden
14           monterey   Berkshire, Hampshire, Franklin & Hampden
15   mount washington   Berkshire, Hampshire, Franklin & Hampden
16        new ashford   Berkshire, Hampshire, Franklin & Hampden
17    new marlborough   Berkshire, Hampshire, Franklin & Hampden
18        north adams   Berkshire, Hampshire, Franklin & Hampden
19               otis   Berkshire, Hampshire, Franklin & Hampden
20               peru   Berkshire, Hampshire, Franklin & Hampden
21         pittsfield   Berkshire, Hampshire, Franklin & Hampden
22           richmond   Berkshire, Hampshire, Franklin & Hampden
23        sandisfield   Berkshire, Hampshire, Franklin & Hampden
24              savoy   Berkshire, Hampshire, Franklin & Hampden
25          sheffield   Berkshire, Hampshire, Franklin & Hampden
26        stockbridge   Berkshire, Hampshire, Franklin & Hampden
27          tyringham   Berkshire, Hampshire, Franklin & Hampden
28         washington   Berkshire, Hampshire, Franklin & Hampden
29   west stockbridge   Berkshire, Hampshire, Franklin & Hampden
..                ...                                        ...
352            monson  Worcester, Hampden, Hampshire & Middlesex
353            palmer  Worcester, Hampden, Hampshire & Middlesex
354             wales  Worcester, Hampden, Hampshire & Middlesex
355              ware  Worcester, Hampden, Hampshire & Middlesex
356             ashby  Worcester, Hampden, Hampshire & Middlesex
357         fitchburg                      Worcester & Middlesex
358           gardner                      Worcester & Middlesex
359        leominster                      Worcester & Middlesex
360            berlin                      Worcester & Middlesex
361            bolton                      Worcester & Middlesex
362           clinton                      Worcester & Middlesex
363         lancaster                      Worcester & Middlesex
364         lunenburg                      Worcester & Middlesex
365          sterling                      Worcester & Middlesex
366       westminster                      Worcester & Middlesex
367          townsend                      Worcester & Middlesex
368        blackstone                        Worcester & Norfolk
369           douglas                        Worcester & Norfolk
370            dudley                        Worcester & Norfolk
371          hopedale                        Worcester & Norfolk
372            mendon                        Worcester & Norfolk
373           milford                        Worcester & Norfolk
374         millville                        Worcester & Norfolk
375       northbridge                        Worcester & Norfolk
376            oxford                        Worcester & Norfolk
377       southbridge                        Worcester & Norfolk
378            sutton                        Worcester & Norfolk
379          uxbridge                        Worcester & Norfolk
380           webster                        Worcester & Norfolk
381        bellingham                        Worcester & Norfolk

[382 rows x 2 columns]

In [40]:
senate_df = senate_df.groupby(['city_town'])['senate_district'].apply(list).reset_index()
print(senate_df)
ocpf_df = ocpf_df.groupby(['City'])['Amount'].apply(sum).reset_index()
print(ocpf_df)

            city_town                                    senate_district
0            abington                               [Norfolk & Plymouth]
1               acton                            [Middlesex & Worcester]
2            acushnet                        [Second Bristol & Plymouth]
3               adams         [Berkshire, Hampshire, Franklin & Hampden]
4              agawam                       [Second Hampden & Hampshire]
5              alford         [Berkshire, Hampshire, Franklin & Hampden]
6            amesbury                                      [First Essex]
7             amherst                  [Hampshire, Franklin & Worcester]
8             andover                         [Second Essex & Middlesex]
9            aquinnah                                     [Cape & Isl&s]
10          arlington                                 [Fourth Middlesex]
11         ashburnham        [Worcester, Hampden, Hampshire & Middlesex]
12              ashby        [Worcester, Hampden, Hampshire & Middlesex]
13           ashfield         [Berkshire, Hampshire, Franklin & Hampden]
14            ashland                       [Second Middlesex & Norfolk]
15              athol        [Worcester, Hampden, Hampshire & Middlesex]
16          attleboro  [Bristol & Norfolk, Norfolk, Bristol & Middlesex]
17             auburn                                 [Second Worcester]
18               avon                      [Norfolk, Bristol & Plymouth]
19               ayer                            [Middlesex & Worcester]
20         barnstable                                     [Cape & Isl&s]
21              barre        [Worcester, Hampden, Hampshire & Middlesex]
22             becket         [Berkshire, Hampshire, Franklin & Hampden]
23            bedford                                  [Third Middlesex]
24        belchertown                        [First Hampden & Hampshire]
25         bellingham                              [Worcester & Norfolk]
26            belmont                       [Second Suffolk & Middlesex]
27            berkley                         [First Plymouth & Bristol]
28             berlin                            [Worcester & Middlesex]
29        bernardston                  [Hampshire, Franklin & Worcester]
..                ...                                                ...
325  west bridgewater                      [Norfolk, Bristol & Plymouth]
326   west brookfield        [Worcester, Hampden, Hampshire & Middlesex]
327      west newbury                          [First Essex & Middlesex]
328  west springfield                                          [Hampden]
329  west stockbridge         [Berkshire, Hampshire, Franklin & Hampden]
330      west tisbury                                     [Cape & Isl&s]
331       westborough                            [Middlesex & Worcester]
332         westfield                       [Second Hampden & Hampshire]
333          westford                                  [First Middlesex]
334       westhampton         [Berkshire, Hampshire, Franklin & Hampden]
335       westminster                            [Worcester & Middlesex]
336            weston                                  [Third Middlesex]
337          westport                         [First Bristol & Plymouth]
338          westwood                                [Norfolk & Suffolk]
339          weymouth                               [Plymouth & Norfolk]
340           whately                  [Hampshire, Franklin & Worcester]
341           whitman                        [Second Plymouth & Bristol]
342         wilbraham                        [First Hampden & Hampshire]
343      williamsburg         [Berkshire, Hampshire, Franklin & Hampden]
344      williamstown         [Berkshire, Hampshire, Franklin & Hampden]
345        wilmington                          [First Essex & Middlesex]
346        winchendon        [Worcester, Hampden, Hampshire & Middlesex]
347        winchester                [Second Middlesex, Fifth Middlesex]
348           windsor         [Berkshire, Hampshire, Franklin & Hampden]
349          winthrop                        [First Suffolk & Middlesex]
350            woburn                                 [Fourth Middlesex]
351         worcester                [First Worcester, Second Worcester]
352       worthington         [Berkshire, Hampshire, Franklin & Hampden]
353          wrentham                     [Norfolk, Bristol & Middlesex]
354          yarmouth                                     [Cape & Isl&s]

[355 rows x 2 columns]
                 City    Amount
0             1/30/16    620.00
1            abington   2682.65
2               acton   5196.62
3            acushnet    525.00
4              agawam   1478.79
5             allston   4500.00
6            amesbury   3750.00
7             amherst   5284.01
8             andover  17800.69
9           arlington  11449.00
10         ashburnham    600.00
11            ashland   2991.13
12              athol    800.00
13          attleboro    900.00
14             auburn   9542.68
15         auburndale   3695.31
16               avon   1500.00
17         barnstable   2403.11
18         barrington    750.00
19         bass river    850.00
20            bedford   5463.00
21        belchertown   1985.60
22         bellingham    597.72
23            belmont   3689.20
24        bernardston    551.05
25            beverly   6789.00
26      beverly farms    750.00
27          billerica   2811.00
28             bolton   1850.00
29                bos    588.80
..                ...       ...
278   wellesley hills    600.00
279     wellesley hls    750.00
280         wellfleet    700.00
281            wenham   1500.00
282          wesfield    600.00
283   west barnstable   3800.00
284       west dennis    614.98
285     west falmouth    750.00
286      west newbury    750.00
287       west newton   2250.00
288      west roxbury   7597.84
289   west somerville    900.00
290  west springfield   5295.00
291     west yarmouth    800.00
292       westborough   6300.00
293         westfield  13364.00
294          westford   1250.00
295            weston   5922.28
296          westport   6925.00
297          westwood   4500.00
298          weymouth   9117.32
299      whitinsville   1800.00
300         wilbraham   6712.00
301        wilmington   4118.55
302        winchester   9586.50
303          winthrop   6992.66
304            woburn   8907.97
305         worcester  47091.24
306          wrentham   2652.14
307     yarmouth port   1282.00

[308 rows x 2 columns]

In [41]:

senate_ocpf = pd.concat([ocpf_df.set_index('City'), senate_df.set_index('city_town')], axis=1, join='inner')
senate_ocpf.index.name = 'city_town'
print(senate_ocpf)
senate_ocpf.to_csv("../cleaned_data/contribution_data_senate_districts.csv")

                     Amount                                    senate_district
city_town
abington            2682.65                               [Norfolk & Plymouth]
acton               5196.62                            [Middlesex & Worcester]
acushnet             525.00                        [Second Bristol & Plymouth]
agawam              1478.79                       [Second Hampden & Hampshire]
amesbury            3750.00                                      [First Essex]
amherst             5284.01                  [Hampshire, Franklin & Worcester]
andover            17800.69                         [Second Essex & Middlesex]
arlington          11449.00                                 [Fourth Middlesex]
ashburnham           600.00        [Worcester, Hampden, Hampshire & Middlesex]
ashland             2991.13                       [Second Middlesex & Norfolk]
athol                800.00        [Worcester, Hampden, Hampshire & Middlesex]
attleboro            900.00  [Bristol & Norfolk, Norfolk, Bristol & Middlesex]
auburn              9542.68                                 [Second Worcester]
avon                1500.00                      [Norfolk, Bristol & Plymouth]
barnstable          2403.11                                     [Cape & Isl&s]
bedford             5463.00                                  [Third Middlesex]
belchertown         1985.60                        [First Hampden & Hampshire]
bellingham           597.72                              [Worcester & Norfolk]
belmont             3689.20                       [Second Suffolk & Middlesex]
bernardston          551.05                  [Hampshire, Franklin & Worcester]
beverly             6789.00                                     [Second Essex]
billerica           2811.00                                 [Fourth Middlesex]
bolton              1850.00                            [Worcester & Middlesex]
boston            243773.81  [Middlesex & Suffolk, Norfolk & Suffolk, First...
bourne              2075.00                            [Plymouth & Barnstable]
boxborough           750.00                            [Middlesex & Worcester]
boxford             1500.00                          [First Essex & Middlesex]
boylston             750.00                                  [First Worcester]
braintree          14480.72  [Norfolk, Bristol & Plymouth, Norfolk & Plymouth]
brewster            7245.11                                     [Cape & Isl&s]
...                     ...                                                ...
truro               3070.00                                     [Cape & Isl&s]
upton               1500.00                                 [Second Worcester]
uxbridge            1333.13                              [Worcester & Norfolk]
wakefield           2564.81                                  [Fifth Middlesex]
wales                750.00        [Worcester, Hampden, Hampshire & Middlesex]
walpole             5107.06                                [Bristol & Norfolk]
waltham             8885.87                                  [Third Middlesex]
wareham             2030.00                         [First Plymouth & Bristol]
watertown           3689.29                       [Second Suffolk & Middlesex]
wayland             7800.00                     [Norfolk, Bristol & Middlesex]
webster             4700.00                              [Worcester & Norfolk]
wellesley           7958.51  [First Middlesex & Norfolk, Norfolk, Bristol &...
wellfleet            700.00                                     [Cape & Isl&s]
wenham              1500.00                          [First Essex & Middlesex]
west newbury         750.00                          [First Essex & Middlesex]
west springfield    5295.00                                          [Hampden]
westborough         6300.00                            [Middlesex & Worcester]
westfield          13364.00                       [Second Hampden & Hampshire]
westford            1250.00                                  [First Middlesex]
weston              5922.28                                  [Third Middlesex]
westport            6925.00                         [First Bristol & Plymouth]
westwood            4500.00                                [Norfolk & Suffolk]
weymouth            9117.32                               [Plymouth & Norfolk]
wilbraham           6712.00                        [First Hampden & Hampshire]
wilmington          4118.55                          [First Essex & Middlesex]
winchester          9586.50                [Second Middlesex, Fifth Middlesex]
winthrop            6992.66                        [First Suffolk & Middlesex]
woburn              8907.97                                 [Fourth Middlesex]
worcester          47091.24                [First Worcester, Second Worcester]
wrentham            2652.14                     [Norfolk, Bristol & Middlesex]

[226 rows x 2 columns]

In [42]:
#################### 
# House districts #
####################

house_df = pd.read_csv("../cleaned_data/house_districts_mapped_final.csv", names=['city_town', 'house_district', 'n/a'], header=None)[['city_town', 'house_district']]

house_df['city_town'] = house_df['city_town'].apply(lambda x: str(x).split(" -")[0]).apply(lambda x: str(x).split(" (")[0]).map(lambda x: x.lower())
house_df['city_town'] = house_df['city_town'].replace('[\:]','', regex=True).str.strip()

print(house_df)

         city_town                   house_district
0         brewster                 First Barnstable
1           dennis                 First Barnstable
2         yarmouth                 First Barnstable
3       barnstable                Second Barnstable
4         yarmouth                Second Barnstable
5           bourne                 Third Barnstable
6         falmouth                 Third Barnstable
7          mashpee                 Third Barnstable
8         brewster                Fourth Barnstable
9          chatham                Fourth Barnstable
10         eastham                Fourth Barnstable
11         harwich                Fourth Barnstable
12         orleans                Fourth Barnstable
13    provincetown                Fourth Barnstable
14           truro                Fourth Barnstable
15       wellfleet                Fourth Barnstable
16      barnstable                 Fifth Barnstable
17          bourne                 Fifth Barnstable
18        sandwich                 Fifth Barnstable
19        plymouth                 Fifth Barnstable
20        aquinnah  Barnstable, Dukes and Nantucket
21        chilmark  Barnstable, Dukes and Nantucket
22       edgartown  Barnstable, Dukes and Nantucket
23        falmouth  Barnstable, Dukes and Nantucket
24         gosnold  Barnstable, Dukes and Nantucket
25       nantucket  Barnstable, Dukes and Nantucket
26      oak bluffs  Barnstable, Dukes and Nantucket
27         tisbury  Barnstable, Dukes and Nantucket
28    west tisbury  Barnstable, Dukes and Nantucket
29           adams                  First Berkshire
..             ...                              ...
462     bellingham                 Eighth Worcester
463     blackstone                 Eighth Worcester
464      millville                 Eighth Worcester
465       uxbridge                 Eighth Worcester
466        grafton                  Ninth Worcester
467    northbridge                  Ninth Worcester
468          upton                  Ninth Worcester
469         medway                  Tenth Worcester
470       hopedale                  Tenth Worcester
471         mendon                  Tenth Worcester
472        milford                  Tenth Worcester
473     shrewsbury               Eleventh Worcester
474    westborough               Eleventh Worcester
475         berlin                Twelfth Worcester
476       boylston                Twelfth Worcester
477        clinton                Twelfth Worcester
478      lancaster                Twelfth Worcester
479   northborough                Twelfth Worcester
480       sterling                Twelfth Worcester
481      worcester             Thirteenth Worcester
482  west boylston             Fourteenth Worcester
483      worcester             Fourteenth Worcester
484      worcester              Fifteenth Worcester
485      worcester              Sixteenth Worcester
486      leicester            Seventeenth Worcester
487      worcester            Seventeenth Worcester
488        douglas             Eighteenth Worcester
489         oxford             Eighteenth Worcester
490         sutton             Eighteenth Worcester
491        webster             Eighteenth Worcester

[492 rows x 2 columns]

In [43]:
house_districts = list(house_df['house_district'])
ordinal = lambda n: "%d%s" % (n,"tsnrhtdd"[(math.floor(n/10)%10!=1)*(n%10<4)*n%10::4])
dumb_list = [ordinal(n) for n in range(0,38)]

for i in range(len(house_districts)):
    splitter = house_districts[i].split(" ")
    if splitter[0] == 'Barnstable,':
        continue
    if splitter[0] == 'First':
        splitter[0] = dumb_list[1]
    elif splitter[0] == 'Second':
        splitter[0] = dumb_list[2]
    elif splitter[0] == 'Third':
        splitter[0] = dumb_list[3]
    elif splitter[0] == 'Fourth':
        splitter[0] = dumb_list[4]
    elif splitter[0] == 'Fifth':
        splitter[0] = dumb_list[5]
    elif splitter[0] == 'Sixth':
        splitter[0] = dumb_list[6]
    elif splitter[0] == 'Seventh':
        splitter[0] = dumb_list[7]
    elif splitter[0] == 'Eighth':
        splitter[0] = dumb_list[8]
    elif splitter[0] == 'Eigth':
        splitter[0] = dumb_list[8]
    elif splitter[0] == 'Ninth':
        splitter[0] = dumb_list[9]
    elif splitter[0] == 'Tenth':
        splitter[0] = dumb_list[10]
    elif splitter[0] == 'Eleventh':
        splitter[0] = dumb_list[11]
    elif splitter[0] == 'Twelfth':
        splitter[0] = dumb_list[12]
    elif splitter[0] == 'Thirteenth':
        splitter[0] = dumb_list[13]
    elif splitter[0] == 'Fourteenth':
        splitter[0] = dumb_list[14]
    elif splitter[0] == 'Fifteenth':
        splitter[0] = dumb_list[15]
    elif splitter[0] == 'Sixteenth':
        splitter[0] = dumb_list[16]
    elif splitter[0] == 'Seventeenth':
        splitter[0] = dumb_list[17]
    elif splitter[0] == 'Eighteenth':
        splitter[0] = dumb_list[18]
    elif splitter[0] == 'Nineteenth':
        splitter[0] = dumb_list[19]
    elif splitter[0] == 'Ninteenth':
        splitter[0] = dumb_list[19]
    elif splitter[0] == 'Twentieth':
        splitter[0] = dumb_list[20]
    elif splitter[0] == 'Twenty-First':
        splitter[0] = dumb_list[21]
    elif splitter[0] == 'Twenty-Second':
        splitter[0] = dumb_list[22]
    elif splitter[0] == 'Twenty-Third':
        splitter[0] = dumb_list[23]
    elif splitter[0] == 'Twenty-Fourth':
        splitter[0] = dumb_list[24]
    elif splitter[0] == 'Twenty-Fifth':
        splitter[0] = dumb_list[25]
    elif splitter[0] == 'Twenty-Sixth':
        splitter[0] = dumb_list[26]
    elif splitter[0] == 'Twenty-Seventh':
        splitter[0] = dumb_list[27]
    elif splitter[0] == 'Twenty-Eighth':
        splitter[0] = dumb_list[28]
    elif splitter[0] == 'Twenty-Ninth':
        splitter[0] = dumb_list[29]
    elif splitter[0] == 'Thirtieth':
        splitter[0] = dumb_list[30]
    elif splitter[0] == 'Thirty-First':
        splitter[0] = dumb_list[31]
    elif splitter[0] == 'Thirty-Second':
        splitter[0] = dumb_list[32]
    elif splitter[0] == 'Thirty-Third':
        splitter[0] = dumb_list[33]
    elif splitter[0] == 'Thirty-Fourth':
        splitter[0] = dumb_list[34]
    elif splitter[0] == 'Thirty-Fifth':
        splitter[0] = dumb_list[35]
    elif splitter[0] == 'Thirty-Sixth':
        splitter[0] = dumb_list[36]
    elif splitter[0] == 'Thirty-Seventh':
        splitter[0] = dumb_list[37]

        
    district = ''
    for j in range(len(splitter)):
        if j != len(splitter)-1:
            district += splitter[j]+" "
        else:
            district += splitter[j]
    house_districts[i] = district
    
house_df['house_district'] = house_districts
print(house_df)

         city_town                   house_district
0         brewster                   1st Barnstable
1           dennis                   1st Barnstable
2         yarmouth                   1st Barnstable
3       barnstable                   2nd Barnstable
4         yarmouth                   2nd Barnstable
5           bourne                   3rd Barnstable
6         falmouth                   3rd Barnstable
7          mashpee                   3rd Barnstable
8         brewster                   4th Barnstable
9          chatham                   4th Barnstable
10         eastham                   4th Barnstable
11         harwich                   4th Barnstable
12         orleans                   4th Barnstable
13    provincetown                   4th Barnstable
14           truro                   4th Barnstable
15       wellfleet                   4th Barnstable
16      barnstable                   5th Barnstable
17          bourne                   5th Barnstable
18        sandwich                   5th Barnstable
19        plymouth                   5th Barnstable
20        aquinnah  Barnstable, Dukes and Nantucket
21        chilmark  Barnstable, Dukes and Nantucket
22       edgartown  Barnstable, Dukes and Nantucket
23        falmouth  Barnstable, Dukes and Nantucket
24         gosnold  Barnstable, Dukes and Nantucket
25       nantucket  Barnstable, Dukes and Nantucket
26      oak bluffs  Barnstable, Dukes and Nantucket
27         tisbury  Barnstable, Dukes and Nantucket
28    west tisbury  Barnstable, Dukes and Nantucket
29           adams                    1st Berkshire
..             ...                              ...
462     bellingham                    8th Worcester
463     blackstone                    8th Worcester
464      millville                    8th Worcester
465       uxbridge                    8th Worcester
466        grafton                    9th Worcester
467    northbridge                    9th Worcester
468          upton                    9th Worcester
469         medway                   10th Worcester
470       hopedale                   10th Worcester
471         mendon                   10th Worcester
472        milford                   10th Worcester
473     shrewsbury                   11th Worcester
474    westborough                   11th Worcester
475         berlin                   12th Worcester
476       boylston                   12th Worcester
477        clinton                   12th Worcester
478      lancaster                   12th Worcester
479   northborough                   12th Worcester
480       sterling                   12th Worcester
481      worcester                   13th Worcester
482  west boylston                   14th Worcester
483      worcester                   14th Worcester
484      worcester                   15th Worcester
485      worcester                   16th Worcester
486      leicester                   17th Worcester
487      worcester                   17th Worcester
488        douglas                   18th Worcester
489         oxford                   18th Worcester
490         sutton                   18th Worcester
491        webster                   18th Worcester

[492 rows x 2 columns]

In [44]:
house_df = house_df.groupby(['city_town'])['house_district'].apply(list).reset_index()
print(house_df)

            city_town                                     house_district
0            abington                                     [7th Plymouth]
1               acton                   [14th Middlesex, 37th Middlesex]
2            acushnet                                     [11th Bristol]
3               adams                                    [1st Berkshire]
4              agawam                                      [3rd Hampden]
5              alford                                    [4th Berkshire]
6            amesbury                                        [1st Essex]
7             amherst                                    [3rd Hampshire]
8             andover                           [17th Essex, 18th Essex]
9            aquinnah                  [Barnstable, Dukes and Nantucket]
10          arlington                   [23rd Middlesex, 24th Middlesex]
11         ashburnham                                    [2nd Worcester]
12              ashby                                    [1st Middlesex]
13           ashfield                                     [1st Franklin]
14            ashland                                    [7th Middlesex]
15              athol                                     [2nd Franklin]
16          attleboro                        [2nd Bristol, 14th Bristol]
17             auburn                                    [7th Worcester]
18               avon                                      [6th Norfolk]
19               ayer                    [1st Middlesex, 37th Middlesex]
20         barnstable                   [2nd Barnstable, 5th Barnstable]
21              barre                                    [5th Worcester]
22             becket                                    [4th Berkshire]
23            bedford                                   [21st Middlesex]
24        belchertown                        [2nd Franklin, 7th Hampden]
25         bellingham                                    [8th Worcester]
26            belmont                                   [24th Middlesex]
27            berkley                                     [12th Bristol]
28             berlin                                   [12th Worcester]
29        bernardston                                    [2nd Berkshire]
..                ...                                                ...
327  west bridgewater                                    [10th Plymouth]
328   west brookfield                                    [5th Worcester]
329      west newbury                                        [2nd Essex]
330  west springfield                                      [6th Hampden]
331  west stockbridge                                    [4th Berkshire]
332      west tisbury                  [Barnstable, Dukes and Nantucket]
333       westborough     [4th Middlesex, 8th Middlesex, 11th Worcester]
334         westfield                                      [4th Hampden]
335          westford                                    [1st Middlesex]
336       westhampton                                    [1st Hampshire]
337       westminster                     [1st Worcester, 2nd Worcester]
338            weston                                     [14th Norfolk]
339          westport                                      [8th Bristol]
340          westwood                                     [11th Norfolk]
341          weymouth                         [3rd Norfolk, 4th Norfolk]
342           whately                                     [1st Franklin]
343           whitman                                     [7th Plymouth]
344         wilbraham                                     [12th Hampden]
345      williamsburg                                     [1st Franklin]
346      williamstown                                    [1st Berkshire]
347        wilmington                   [19th Middlesex, 21st Middlesex]
348        winchendon                                    [2nd Worcester]
349        winchester                                   [31st Middlesex]
350           windsor                                    [2nd Berkshire]
351          winthrop                                     [19th Suffolk]
352            woburn                   [15th Middlesex, 30th Middlesex]
353         worcester  [13th Worcester, 14th Worcester, 15th Worceste...
354       worthington                                     [1st Franklin]
355          wrentham                                      [9th Norfolk]
356          yarmouth                   [1st Barnstable, 2nd Barnstable]

[357 rows x 2 columns]

In [45]:
house_ocpf = pd.concat([ocpf_df.set_index('City'), house_df.set_index('city_town')], axis=1, join='inner')
house_ocpf.index.name = 'city_town'
print(house_ocpf)
house_ocpf.to_csv("../cleaned_data/contribution_data_house_districts.csv")

                     Amount                                     house_district
city_town
abington            2682.65                                     [7th Plymouth]
acton               5196.62                   [14th Middlesex, 37th Middlesex]
acushnet             525.00                                     [11th Bristol]
agawam              1478.79                                      [3rd Hampden]
amesbury            3750.00                                        [1st Essex]
amherst             5284.01                                    [3rd Hampshire]
andover            17800.69                           [17th Essex, 18th Essex]
arlington          11449.00                   [23rd Middlesex, 24th Middlesex]
ashburnham           600.00                                    [2nd Worcester]
ashland             2991.13                                    [7th Middlesex]
athol                800.00                                     [2nd Franklin]
attleboro            900.00                        [2nd Bristol, 14th Bristol]
auburn              9542.68                                    [7th Worcester]
avon                1500.00                                      [6th Norfolk]
barnstable          2403.11                   [2nd Barnstable, 5th Barnstable]
bedford             5463.00                                   [21st Middlesex]
belchertown         1985.60                        [2nd Franklin, 7th Hampden]
bellingham           597.72                                    [8th Worcester]
belmont             3689.20                                   [24th Middlesex]
bernardston          551.05                                    [2nd Berkshire]
beverly             6789.00                                        [6th Essex]
billerica           2811.00                                   [22nd Middlesex]
bolton              1850.00                                    [3rd Middlesex]
boston            243773.81  [1st Suffolk, 2nd Suffolk, 3rd Suffolk, 4th Su...
bourne              2075.00                   [3rd Barnstable, 5th Barnstable]
boxborough           750.00                                   [37th Middlesex]
boxford             1500.00                            [2nd Essex, 18th Essex]
boylston             750.00                                   [12th Worcester]
braintree          14480.72                                      [5th Norfolk]
brewster            7245.11                   [1st Barnstable, 4th Barnstable]
...                     ...                                                ...
truro               3070.00                                   [4th Barnstable]
upton               1500.00                                    [9th Worcester]
uxbridge            1333.13                                    [8th Worcester]
wakefield           2564.81                        [9th Essex, 32nd Middlesex]
wales                750.00                                      [1st Hampden]
walpole             5107.06  [8th Norfolk, 9th Norfolk, 11th Norfolk, 12th ...
waltham             8885.87                    [9th Middlesex, 10th Middlesex]
wareham             2030.00                                     [2nd Plymouth]
watertown           3689.29                   [10th Middlesex, 29th Middlesex]
wayland             7800.00                     [13th Middlesex, 14th Norfolk]
webster             4700.00                                   [18th Worcester]
wellesley           7958.51                                     [14th Norfolk]
wellfleet            700.00                                   [4th Barnstable]
wenham              1500.00                                        [4th Essex]
west newbury         750.00                                        [2nd Essex]
west springfield    5295.00                                      [6th Hampden]
westborough         6300.00     [4th Middlesex, 8th Middlesex, 11th Worcester]
westfield          13364.00                                      [4th Hampden]
westford            1250.00                                    [1st Middlesex]
weston              5922.28                                     [14th Norfolk]
westport            6925.00                                      [8th Bristol]
westwood            4500.00                                     [11th Norfolk]
weymouth            9117.32                         [3rd Norfolk, 4th Norfolk]
wilbraham           6712.00                                     [12th Hampden]
wilmington          4118.55                   [19th Middlesex, 21st Middlesex]
winchester          9586.50                                   [31st Middlesex]
winthrop            6992.66                                     [19th Suffolk]
woburn              8907.97                   [15th Middlesex, 30th Middlesex]
worcester          47091.24  [13th Worcester, 14th Worcester, 15th Worceste...
wrentham            2652.14                                      [9th Norfolk]

[226 rows x 2 columns]

In [46]:
senate_df.to_csv("../cleaned_data/senate_districts_mapped_to_lists.csv")
house_df.to_csv("../cleaned_data/house_districts_mapped_to_lists.csv")